Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-banner-version
        name: Sync banner version from package.json
        entry: pwsh -NoProfile -File scripts/sync-banner-version.ps1
        language: system
        always_run: true
        pass_filenames: false
        require_serial: true
        description: Updates the version in the SVG banner when package.json version changes.
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores. Auto-renames when run locally.
      - id: csharp-no-regions
        name: "Lint C# files for #region directives"
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: "Prevent #region directives from being checked in. Auto-removes when run locally."
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'
      - id: lychee
        name: Check markdown links (lychee)
        entry: pwsh -NoProfile -File scripts/lint-staged-links.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        pass_filenames: false
        require_serial: true
        description: Check for broken links in staged markdown files using lychee.

Fix WInLineEditorOdinDrawer error log (#144)
  CHANGELOG.md
  Editor/CustomDrawers/Odin/WInLineEditorOdinDrawer.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

v3.1.2
  .llm/skills/validation-troubleshooting.md
  .npmignore
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Fix numbering for inline ignore example
  .llm/skills/validation-troubleshooting.md
Due: prettier, markdownlint, lychee

Fix `scripts/tests.meta` file issue in npm package (#145)
  .npmignore
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Potential fix for ScriptableObjectSingletonCreator
  CHANGELOG.md
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
Due: prettier, markdownlint, lychee

Fix AnimationCopier content detection
  CHANGELOG.md
  Editor/Sprites/AnimationCopier.cs
  Runtime/Core/Helper/DirectoryHelper.cs
  Tests/Editor/Sprites/AnimationCopierWindowTests.cs
Due: prettier, markdownlint, lychee

Minor tool bug fixes
  CHANGELOG.md
  Editor/Sprites/AnimationCreatorConfig.cs
  Editor/Sprites/AnimationCreatorConfig.cs.meta
  Editor/Sprites/AnimationCreatorWindow.cs
  Tests/Editor/Sprites/AnimationCopierWindowTests.cs
  Tests/Editor/Tools/AnimationCreatorConfigTests.cs
  Tests/Editor/Tools/AnimationCreatorConfigTests.cs.meta
  Tests/Editor/Tools/AnimationCreatorWindowPersistenceTests.cs
  Tests/Editor/Tools/AnimationCreatorWindowPersistenceTests.cs.meta
  Tests/Editor/Tools/WallstopStudios.UnityHelpers.Tests.Editor.Tools.asmdef
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Add explanatory comment for preview texture pre-loading optimization (#156)
  Editor/Sprites/AnimationCreatorWindow.cs
Due: none

Minor Tool Fixes (#155)
  CHANGELOG.md
  Editor/Sprites/AnimationCopier.cs
  Editor/Sprites/AnimationCreatorConfig.cs
  Editor/Sprites/AnimationCreatorConfig.cs.meta
  Editor/Sprites/AnimationCreatorWindow.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Core/Helper/DirectoryHelper.cs
  Tests/Editor/Sprites/AnimationCopierWindowTests.cs
  Tests/Editor/Tools/AnimationCreatorConfigTests.cs
  Tests/Editor/Tools/AnimationCreatorConfigTests.cs.meta
  Tests/Editor/Tools/AnimationCreatorWindowPersistenceTests.cs
  Tests/Editor/Tools/AnimationCreatorWindowPersistenceTests.cs.meta
  Tests/Editor/Tools/WallstopStudios.UnityHelpers.Tests.Editor.Tools.asmdef
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

chore(dotnet-tools): update .config/dotnet-tools.json
  .config/dotnet-tools.json
Due: prettier

Potential fixes for ScriptableObjectSingletonCreator on Linux
  CHANGELOG.md
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Editor/Utils/ScriptableObjectSingletonMetadataUtility.cs
  Runtime/Utils/ScriptableObjectSingletonMetadata.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/ScriptableSingletons/AssetDatabaseRaceSingleton.cs
  Tests/Editor/Utils/ScriptableSingletons/AssetDatabaseRaceSingleton.cs.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

PR feedback
  Editor/Utils/ScriptableObjectSingletonCreator.cs
Due: none

Fix ClearAllEntries documentation - method not used by sync operation (#159)
  Runtime/Utils/ScriptableObjectSingletonMetadata.cs
Due: none

Potential fixes for ScriptableObjectSingletonCreator on Linux (#158)
  CHANGELOG.md
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Editor/Utils/ScriptableObjectSingletonMetadataUtility.cs
  Runtime/Utils/ScriptableObjectSingletonMetadata.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/ScriptableSingletons/AssetDatabaseRaceSingleton.cs
  Tests/Editor/Utils/ScriptableSingletons/AssetDatabaseRaceSingleton.cs.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

PR / llm updates
  .github/workflows/update-dotnet-tools.yml
  .llm/context.md
  .llm/skills/github-workflow-permissions.md
Due: prettier, markdownlint, yamllint, lychee

PR / llm updates (#162)
  .github/workflows/update-dotnet-tools.yml
  .llm/context.md
  .llm/skills/github-workflow-permissions.md
Due: prettier, markdownlint, yamllint, lychee

Relational Component Bug fix (needs testing)
  CHANGELOG.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Attributes/SiblingComponentAttribute.cs
  Tests/Runtime/Attributes/ChildComponentTests.cs
  Tests/Runtime/Attributes/Components/ChildOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/ChildOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/Components/ParentOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/ParentOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/Components/SiblingOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/SiblingOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/ParentComponentTests.cs
  Tests/Runtime/Attributes/SiblingComponentTests.cs
Due: prettier, markdownlint, lychee

Update version
  .config/dotnet-tools.json
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Fix failing tests
  .llm/skills/create-test.md
  Tests/Runtime/Attributes/ChildComponentTests.cs
  Tests/Runtime/Attributes/ParentComponentTests.cs
  Tests/Runtime/Attributes/SiblingComponentTests.cs
  Tests/Runtime/Helper/WallMathTests.cs
Due: prettier, markdownlint, lychee

Fix RelationalComponents Not Reflecting Current State (#164)
  .config/dotnet-tools.json
  .llm/skills/create-test.md
  CHANGELOG.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Attributes/SiblingComponentAttribute.cs
  Tests/Runtime/Attributes/ChildComponentTests.cs
  Tests/Runtime/Attributes/Components/ChildOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/ChildOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/Components/ParentOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/ParentOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/Components/SiblingOverwriteNullTester.cs
  Tests/Runtime/Attributes/Components/SiblingOverwriteNullTester.cs.meta
  Tests/Runtime/Attributes/ParentComponentTests.cs
  Tests/Runtime/Attributes/SiblingComponentTests.cs
  Tests/Runtime/Helper/WallMathTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Update release drafter to be more aligned with repo vision
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  docs/project/contributing.md
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .github/workflows/release-drafter.yml
  .llm/context.md
  .llm/skills/github-actions-shell-scripting.md
  cspell.json
Due: prettier, markdownlint, yamllint, lychee

Address PR feedback
  .github/workflows/release-drafter.yml
  .llm/context.md
  .llm/skills/github-actions-script-pattern.md
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/github-actions-shell-scripting.md
  .llm/skills/github-actions-shell-workflow-patterns.md
Due: prettier, markdownlint, yamllint, lychee

Even more PR feedback
  .github/workflows/release-drafter.yml
  .llm/skills/github-actions-shell-scripting.md
  .llm/skills/github-actions-shell-workflow-patterns.md
Due: prettier, markdownlint, yamllint, lychee

Update release drafter to be more aligned with repo vision (#165)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .llm/context.md
  .llm/skills/github-actions-script-pattern.md
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/github-actions-shell-scripting.md
  .llm/skills/github-actions-shell-workflow-patterns.md
  cspell.json
  docs/project/contributing.md
Due: prettier, markdownlint, yamllint, lychee

GH Pages overhaul
  .github/workflows/deploy-pages.yml
  .github/workflows/validate-docs.yml
  .gitignore
  .markdownlintignore
  docs/404.md
  docs/404.md.meta
  docs/features/effects/effects-system-tutorial.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/visual-components.md
  docs/features/logging/unity-main-thread-dispatcher.md
  docs/features/relational-components/relational-components.md
  docs/features/spatial/spatial-trees-2d-guide.md
  docs/features/spatial/spatial-trees-3d-guide.md
  docs/features/utilities/random-generators.md
  docs/includes.meta
  docs/includes/abbreviations.md
  docs/includes/abbreviations.md.meta
  docs/index.md
  docs/index.md.meta
  docs/overrides.meta
  docs/overrides/.gitkeep
  docs/overview/getting-started.md
  docs/overview/glossary.md
  docs/overview/index.md
  docs/overview/roadmap.md
  docs/project/llms-txt.md
  docs/readme.md
  docs/readme.md.meta
  docs/stylesheets.meta
  docs/stylesheets/custom.css
  docs/stylesheets/custom.css.meta
  mkdocs.yml
  mkdocs.yml.meta
  requirements-docs.txt
  requirements-docs.txt.meta
  scripts/check-code-fence-syntax.sh
  scripts/check-code-fence-syntax.sh.meta
  site.meta
Due: prettier, markdownlint, yamllint, lychee

GH Pages overhaul (#169)
  .github/workflows/deploy-pages.yml
  .github/workflows/validate-docs.yml
  .gitignore
  .markdownlintignore
  docs/404.md
  docs/404.md.meta
  docs/features/effects/effects-system-tutorial.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/visual-components.md
  docs/features/logging/unity-main-thread-dispatcher.md
  docs/features/relational-components/relational-components.md
  docs/features/spatial/spatial-trees-2d-guide.md
  docs/features/spatial/spatial-trees-3d-guide.md
  docs/features/utilities/random-generators.md
  docs/includes.meta
  docs/includes/abbreviations.md
  docs/includes/abbreviations.md.meta
  docs/index.md
  docs/index.md.meta
  docs/overrides.meta
  docs/overrides/.gitkeep
  docs/overview/getting-started.md
  docs/overview/glossary.md
  docs/overview/index.md
  docs/overview/roadmap.md
  docs/project/llms-txt.md
  docs/readme.md
  docs/readme.md.meta
  docs/stylesheets.meta
  docs/stylesheets/custom.css
  docs/stylesheets/custom.css.meta
  mkdocs.yml
  mkdocs.yml.meta
  requirements-docs.txt
  requirements-docs.txt.meta
  scripts/check-code-fence-syntax.sh
  scripts/check-code-fence-syntax.sh.meta
  site.meta
Due: prettier, markdownlint, yamllint, lychee

Less self-congratulatory docs
  README.md
  docs/features/effects/effects-system.md
  docs/overview/getting-started.md
  llms.txt
Due: prettier, markdownlint, lychee

Less grandoise prose
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-overview.md
  docs/features/utilities/helper-utilities.md
  docs/features/utilities/math-and-extensions.md
  docs/guides/odin-migration-guide.md
  docs/index.md
  docs/overview/getting-started.md
  docs/readme.md
Due: prettier, markdownlint, lychee

PR feedback
  .llm/context.md
  .llm/skills/documentation-consistency.md
  README.md
  docs/index.md
  docs/overview/getting-started.md
  docs/readme.md
Due: prettier, markdownlint, lychee

PR feedback
  .llm/skills/documentation-consistency.md
  .llm/skills/update-documentation.md
  cspell.json
  docs/readme.md
  llms.txt
Due: prettier, markdownlint, lychee

Update docs/readme.md
  docs/readme.md
Due: prettier, markdownlint, lychee

Less LLM-ified Documentation (#170)
  .llm/context.md
  .llm/skills/documentation-consistency.md
  .llm/skills/update-documentation.md
  README.md
  cspell.json
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-overview.md
  docs/features/utilities/helper-utilities.md
  docs/features/utilities/math-and-extensions.md
  docs/guides/odin-migration-guide.md
  docs/index.md
  docs/overview/getting-started.md
  docs/readme.md
  llms.txt
Due: prettier, markdownlint, lychee

Banner SVG fixes
  .devcontainer/Dockerfile
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

PR feedback
  .devcontainer/Dockerfile
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/github-pages.md
  .llm/skills/update-documentation.md
  CHANGELOG.md
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

Banner SVG fixes (#173)
  .devcontainer/Dockerfile
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/github-pages.md
  .llm/skills/update-documentation.md
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

Potential github pages fixes
  assets/css/style.scss
  assets/css/theme.css
  docs/images/unity-helpers-banner.svg
  docs/stylesheets/custom.css
Due: none

PR feedback
  .llm/skills/github-pages.md
  assets/css/style.scss
  assets/css/theme.css
Due: prettier, markdownlint, lychee

PR feedback
  .llm/context.md
  .llm/skills/github-pages-theming.md
  .llm/skills/github-pages.md
Due: prettier, markdownlint, lychee
