Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-banner-version
        name: Sync banner version from package.json
        entry: pwsh -NoProfile -File scripts/sync-banner-version.ps1
        language: system
        always_run: true
        pass_filenames: false
        require_serial: true
        description: Updates the version in the SVG banner when package.json version changes.
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores. Auto-renames when run locally.
      - id: csharp-no-regions
        name: "Lint C# files for #region directives"
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: "Prevent #region directives from being checked in. Auto-removes when run locally."
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'
      - id: lychee
        name: Check markdown links (lychee)
        entry: pwsh -NoProfile -File scripts/lint-staged-links.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        pass_filenames: false
        require_serial: true
        description: Check for broken links in staged markdown files using lychee.

Potential github pages fixes (#174)
  .llm/context.md
  .llm/skills/github-pages-theming.md
  .llm/skills/github-pages.md
  assets/css/style.scss
  assets/css/theme.css
  docs/images/unity-helpers-banner.svg
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

Fix list formatting
  CHANGELOG.md
  docs/features/editor-tools/asset-change-detection.md
  docs/features/editor-tools/editor-tools-guide.md
  docs/features/editor-tools/unity-method-analyzer.md
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-button.md
  docs/features/inspector/inspector-conditional-display.md
  docs/features/inspector/inspector-grouping-attributes.md
  docs/features/inspector/inspector-inline-editor.md
  docs/features/inspector/inspector-selection-attributes.md
  docs/features/inspector/inspector-settings.md
  docs/features/inspector/inspector-validation-attributes.md
  docs/features/inspector/utility-components.md
  docs/features/logging/logging-extensions.md
  docs/features/logging/unity-main-thread-dispatcher.md
  docs/features/serialization/serialization-types.md
  docs/features/serialization/serialization.md
  docs/features/spatial/hulls.md
  docs/features/spatial/spatial-tree-semantics.md
  docs/features/utilities/data-structures.md
  docs/features/utilities/helper-utilities.md
  docs/features/utilities/math-and-extensions.md
  docs/features/utilities/pooling-guide.md
  docs/features/utilities/reflection-helpers.md
  docs/features/utilities/singletons.md
  docs/guides/odin-migration-guide.md
  docs/performance/baseline-tests-performance.md
  docs/performance/ilist-sorting-performance.md
  docs/performance/random-performance.md
  docs/performance/reflection-performance.md
  docs/performance/relational-components-performance.md
  docs/performance/spatial-tree-2d-performance.md
  docs/performance/spatial-tree-3d-performance.md
  docs/project/contributing.md
  docs/project/license.md
  docs/project/llms-txt.md
  docs/project/third-party-notices.md
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

Fix list formatting (#177)
  CHANGELOG.md
  docs/features/editor-tools/asset-change-detection.md
  docs/features/editor-tools/editor-tools-guide.md
  docs/features/editor-tools/unity-method-analyzer.md
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-button.md
  docs/features/inspector/inspector-conditional-display.md
  docs/features/inspector/inspector-grouping-attributes.md
  docs/features/inspector/inspector-inline-editor.md
  docs/features/inspector/inspector-selection-attributes.md
  docs/features/inspector/inspector-settings.md
  docs/features/inspector/inspector-validation-attributes.md
  docs/features/inspector/utility-components.md
  docs/features/logging/logging-extensions.md
  docs/features/logging/unity-main-thread-dispatcher.md
  docs/features/serialization/serialization-types.md
  docs/features/serialization/serialization.md
  docs/features/spatial/hulls.md
  docs/features/spatial/spatial-tree-semantics.md
  docs/features/utilities/data-structures.md
  docs/features/utilities/helper-utilities.md
  docs/features/utilities/math-and-extensions.md
  docs/features/utilities/pooling-guide.md
  docs/features/utilities/reflection-helpers.md
  docs/features/utilities/singletons.md
  docs/guides/odin-migration-guide.md
  docs/performance/baseline-tests-performance.md
  docs/performance/ilist-sorting-performance.md
  docs/performance/random-performance.md
  docs/performance/reflection-performance.md
  docs/performance/relational-components-performance.md
  docs/performance/spatial-tree-2d-performance.md
  docs/performance/spatial-tree-3d-performance.md
  docs/project/contributing.md
  docs/project/license.md
  docs/project/llms-txt.md
  docs/project/third-party-notices.md
  docs/stylesheets/custom.css
Due: prettier, markdownlint, lychee

Bump version
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Fix link errors
  .llm/skills/validation-troubleshooting.md
  .lychee.toml
  Runtime/Core/Helper/LineHelper.cs
  Runtime/Core/Helper/Partials/MathHelpers.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/NativePcgRandom.cs
  Runtime/Core/Random/SplitMix64.cs
  Runtime/Core/Random/XoroShiroRandom.cs
  cspell.json
  docs/performance/random-performance.md
  docs/project/third-party-notices.md
Due: prettier, markdownlint, lychee

Bump version (#178)
  .llm/skills/validation-troubleshooting.md
  .lychee.toml
  CHANGELOG.md
  Runtime/Core/Helper/LineHelper.cs
  Runtime/Core/Helper/Partials/MathHelpers.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/NativePcgRandom.cs
  Runtime/Core/Random/SplitMix64.cs
  Runtime/Core/Random/XoroShiroRandom.cs
  cspell.json
  docs/images/unity-helpers-banner.svg
  docs/performance/random-performance.md
  docs/project/third-party-notices.md
  package.json
Due: prettier, markdownlint, lychee

DetectAssetChangeProcessor bug fix
  CHANGELOG.md
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Fix package formatting
  package.json
Due: prettier

Add changelog url to package json
  package.json
Due: prettier

DetectAssetChangeProcessor bug fix (#182)
  CHANGELOG.md
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

chore(dotnet-tools): update .config/dotnet-tools.json
  .config/dotnet-tools.json
Due: prettier

Fix WGroup not rendering in Unity 6000.x (#193)
  CHANGELOG.md
  Editor/CustomEditors/WButtonInspector.cs
  Editor/CustomEditors/WButtonOdinMonoBehaviourInspector.cs
  Editor/CustomEditors/WButtonOdinScriptableObjectInspector.cs
Due: prettier, markdownlint, lychee

Fix WNotNull duplicate warnings in Odin Inspector (#192)
  Editor/CustomDrawers/Odin/WNotNullOdinDrawer.cs
Due: none

Fix RuntimeInitializeOnLoadMethod for generic singletons in Unity 6.3 (#191)
  Runtime/Utils/RuntimeSingleton.cs
  Runtime/Utils/RuntimeSingletonRegistry.cs
  Runtime/Utils/RuntimeSingletonRegistry.cs.meta
  Runtime/Utils/ScriptableObjectSingleton.cs
  Runtime/Utils/ScriptableObjectSingletonRegistry.cs
  Runtime/Utils/ScriptableObjectSingletonRegistry.cs.meta
Due: none

Fix formatting
  .config/dotnet-tools.json
  .github/workflows/update-dotnet-tools.yml
  .llm/skills/validation-troubleshooting.md
  scripts/normalize-eol.ps1
Due: prettier, markdownlint, yamllint, lychee

Formatting
  Tests/Runtime/Math/PointPolygonCheckTests.cs
Due: none

Update version
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Fix formatting (#194)
  .config/dotnet-tools.json
  .github/workflows/update-dotnet-tools.yml
  .llm/skills/validation-troubleshooting.md
  CHANGELOG.md
  Tests/Runtime/Math/PointPolygonCheckTests.cs
  docs/images/unity-helpers-banner.svg
  package.json
  scripts/normalize-eol.ps1
Due: prettier, markdownlint, yamllint, lychee

Update version
  CHANGELOG.md
Due: prettier, markdownlint, lychee

Fix: Release drafter uses auto-calculated next version instead of package.json (#198)
  .github/workflows/release-drafter.yml
Due: prettier, yamllint

Fix scriptable object destruction issue
  CHANGELOG.md
  Runtime/Utils/ScriptableObjectSingleton.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
  Tests/Editor/Utils/ScriptableSingletons/LifecycleScriptableSingleton.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

PR feedback
  docs/performance/random-performance.md
  docs/project/third-party-notices.md
Due: prettier, markdownlint, lychee

Dev/wallstop/scriptable object fixes (#202)
  CHANGELOG.md
  Runtime/Utils/ScriptableObjectSingleton.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
  Tests/Editor/Utils/ScriptableSingletons/LifecycleScriptableSingleton.cs
  docs/images/unity-helpers-banner.svg
  docs/performance/random-performance.md
  docs/project/third-party-notices.md
  package.json
Due: prettier, markdownlint, lychee

Fix SystemArrayPool corrupting animations
  Editor/Sprites/AnimationCreatorWindow.cs
  Tests/Editor/Tools/AnimationCreatorWindowTests.cs
  docs/images/unity-helpers-banner.svg
Due: none

stuff
  cspell.json
  package.json
Due: prettier

Fix Editor Tooling (#204)
  Editor/Sprites/AnimationCreatorWindow.cs
  Tests/Editor/Tools/AnimationCreatorWindowTests.cs
  cspell.json
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier

Fix changelog visibility in Unity Package Manager (#205)
  package.json
Due: prettier

Add NPM package validation to CI/CD (#206)
  .github/workflows/validate-npm-package.yml
  package.json
  scripts/validate-npm-package.ps1
  scripts/validate-npm-package.ps1.meta
Due: prettier, yamllint

Update issue template
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yml.bak
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/sync-issue-template.yml
  .gitignore
  .llm/context.md
  .pre-commit-config.yaml
  scripts/sync-banner-version.ps1
  scripts/sync-issue-template-versions.ps1
  scripts/sync-issue-template-versions.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .devcontainer/devcontainer.json
  .githooks/pre-commit
  .githooks/pre-push
  .github/ISSUE_TEMPLATE/bug_report.yml.bak
  .github/workflows/format-on-demand.yml
  .github/workflows/markdown-json.yml
  .github/workflows/prettier-autofix.yml
  .llm/skills/formatting.md
  .llm/skills/validate-before-commit.md
  .llm/skills/validation-troubleshooting.md
  .pre-commit-config.yaml
  package.json
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .githooks/pre-commit
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/sync-issue-template.yml
  .llm/skills/git-hook-patterns.md
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/validate-before-commit.md
  scripts/format-staged-prettier.ps1
  scripts/lint-staged-markdown.ps1
  scripts/lint-yaml.ps1
  scripts/sync-issue-template-versions.ps1
  scripts/tests/test-sync-issue-template-versions.ps1
  scripts/tests/test-sync-issue-template-versions.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .githooks/pre-push
  .github/workflows/format-on-demand.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/references/forbidden-patterns.md
  .llm/references/linter-commands.md
  .llm/skills/formatting.md
  .llm/skills/github-pages.md
  .llm/skills/linter-reference.md
  .llm/skills/manage-skills.md
  .llm/skills/markdown-reference.md
  .llm/skills/validate-before-commit.md
  .llm/skills/validation-troubleshooting.md
  package.json
  scripts/lint-llm-instructions.ps1
  scripts/lint-staged-links.ps1
  scripts/tests/test-sync-issue-template-versions.ps1
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .githooks/pre-commit
  .llm/context.md
  .llm/references/forbidden-patterns.md
  .llm/skills/formatting-and-linting.md
  package.json
  scripts/validate-formatting.sh
  scripts/validate-formatting.sh.meta
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/pre-commit
  .llm/skills/formatting.md
  .llm/skills/validation-troubleshooting.md
  package.json
  scripts/tests/test-final-newline.sh
  scripts/tests/test-final-newline.sh.meta
  scripts/validate-formatting.sh
Due: prettier, markdownlint, lychee

PR feedback
  .devcontainer/devcontainer.json
  .githooks/pre-commit
  .llm/context.md
  .llm/skills/formatting-and-linting.md
  .llm/skills/git-hook-patterns.md
  package.json
  scripts/validate-devcontainer-config.ps1
  scripts/validate-devcontainer-config.ps1.meta
  scripts/validate-hook-sync-calls.ps1
  scripts/validate-hook-sync-calls.ps1.meta
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/pre-commit
  .githooks/pre-push
  .llm/code-samples/patterns/ValidationFixPatterns.sh
  .llm/skills/formatting-and-linting.md
  .llm/skills/git-hook-patterns.md
  .llm/skills/github-actions-shell-foundations.md
  .llm/skills/validation-troubleshooting.md
  package.json
  scripts/lint-llm-instructions.ps1
  scripts/sync-banner-version.ps1
  scripts/tests/test-final-newline.sh
  scripts/validate-devcontainer-config.ps1
  scripts/validate-formatting.sh
  scripts/validate-hook-permissions.sh
  scripts/validate-hook-permissions.sh.meta
Due: prettier, markdownlint, lychee

Add GTK to spelling
  cspell.json
Due: prettier

WValueDropDown changes
  CHANGELOG.md
  Editor/CustomDrawers/Base/WDropDownSelectorBase.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WDropDownPopupWindow.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Tests/Editor/CustomDrawers/StringInListDrawerTests.cs
  Tests/Editor/CustomDrawers/WValueDropDownDrawerTests.cs
Due: prettier, markdownlint, lychee

Fix documentation
  cspell.json
  docs/features/editor-tools/editor-tools-guide.md
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-settings.md
  docs/features/serialization/serialization-types.md
  docs/features/utilities/reflection-helpers.md
Due: prettier, markdownlint, lychee
