Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-banner-version
        name: Sync banner version from package.json
        entry: pwsh -NoProfile -File scripts/sync-banner-version.ps1
        language: system
        always_run: true
        pass_filenames: false
        require_serial: true
        description: Updates the version in the SVG banner when package.json version changes.
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores. Auto-renames when run locally.
      - id: csharp-no-regions
        name: "Lint C# files for #region directives"
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: "Prevent #region directives from being checked in. Auto-removes when run locally."
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'
      - id: lychee
        name: Check markdown links (lychee)
        entry: pwsh -NoProfile -File scripts/lint-staged-links.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        pass_filenames: false
        require_serial: true
        description: Check for broken links in staged markdown files using lychee.

Update version
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .llm/context.md
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .llm/skills/create-property-drawer.md
  .llm/skills/defensive-editor-programming.md
  CHANGELOG.md
  Editor/CustomDrawers/Base/WDropDownSelectorBase.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/Utils/DropDownShared.cs
  Editor/CustomDrawers/WDropDownPopupWindow.cs
  Tests/Editor/CustomDrawers/Utils/DropDownSharedTests.cs
  Tests/Editor/CustomDrawers/Utils/DropDownSharedTests.cs.meta
  Tests/Editor/CustomDrawers/WValueDropDownDrawerTests.cs
Due: prettier, markdownlint, lychee

Fix WValueDropDown + Documentation List Rendering Issues (#213)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .llm/context.md
  .llm/skills/create-property-drawer.md
  .llm/skills/defensive-editor-programming.md
  CHANGELOG.md
  Editor/CustomDrawers/Base/WDropDownSelectorBase.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/Utils/DropDownShared.cs
  Editor/CustomDrawers/WDropDownPopupWindow.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Tests/Editor/CustomDrawers/StringInListDrawerTests.cs
  Tests/Editor/CustomDrawers/Utils/DropDownSharedTests.cs
  Tests/Editor/CustomDrawers/Utils/DropDownSharedTests.cs.meta
  Tests/Editor/CustomDrawers/WValueDropDownDrawerTests.cs
  cspell.json
  docs/features/editor-tools/editor-tools-guide.md
  docs/features/effects/effects-system.md
  docs/features/inspector/inspector-settings.md
  docs/features/serialization/serialization-types.md
  docs/features/utilities/reflection-helpers.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, yamllint, lychee

Second pass attempt at fixing WValueDropDown
  CHANGELOG.md
  Editor/CustomDrawers/Odin/IntDropDownOdinDrawer.cs
  Editor/CustomDrawers/Odin/StringInListOdinDrawer.cs
  Editor/CustomDrawers/Odin/WValueDropDownOdinDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
Due: prettier, markdownlint, lychee

PR feedback
  .llm/context.md
  .llm/skills/code-samples/dropdown-drawer-example.cs
  .llm/skills/code-samples/editor-asset-operations-safety.md
  .llm/skills/code-samples/editor-cache-invalidation-safety.md
  .llm/skills/code-samples/editor-event-callback-safety.md
  .llm/skills/code-samples/editor-serialization-safety.md
  .llm/skills/code-samples/editor-serialized-property-safety.md
  .llm/skills/code-samples/foldout-drawer-example.cs
  .llm/skills/code-samples/property-drawer-template.cs
  .llm/skills/create-property-drawer.md
  .llm/skills/defensive-editor-programming.md
  .llm/skills/property-drawer-examples.md
  .llm/skills/property-drawer-rules.md
  CHANGELOG.md
  Editor/CustomDrawers/IntDropDownDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Editor/CustomEditors/TexturePlatformOverrideEntryDrawer.cs
  Tests/Editor/CustomDrawers/IntDropDownDrawerTests.cs
  Tests/Editor/CustomDrawers/TestTypes/DropdownTestAssets.cs
  Tests/Editor/CustomDrawers/TestTypes/IntDropDownVeryLargeOptionsAsset.cs
  Tests/Editor/CustomDrawers/TestTypes/IntDropDownVeryLargeOptionsAsset.cs.meta
Due: prettier, markdownlint, lychee

PR feedback
  .gitignore
  .llm/skills/defensive-editor-programming.md
  .llm/skills/property-drawer-rules.md
  .llm/skills/validation-troubleshooting.md
  .lychee.toml
  Editor/CustomDrawers/IntDropDownDrawer.cs
  Editor/CustomDrawers/Odin/IntDropDownOdinDrawer.cs
  Tests/Editor/CustomDrawers/IntDropDownDrawerMultiObjectTests.cs
  Tests/Editor/CustomDrawers/IntDropDownDrawerMultiObjectTests.cs.meta
  Tests/Editor/CustomDrawers/IntDropDownDrawerTests.cs
  Tests/Editor/TestTypes/MultiObjectIntDropDownTarget.cs
  Tests/Editor/TestTypes/MultiObjectIntDropDownTarget.cs.meta
  scripts/lint-drawer-multiobject.ps1
  scripts/lint-drawer-multiobject.ps1.meta
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/pre-commit
  .llm/skills/property-drawer-rules.md
  Editor/CustomDrawers/Odin/StringInListOdinDrawer.cs
  Editor/CustomDrawers/Odin/WValueDropDownOdinDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WDropDownPopupWindow.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Tests/Editor/CustomDrawers/TestTypes/MultiObjectWValueDropDownTarget.cs
  Tests/Editor/CustomDrawers/TestTypes/MultiObjectWValueDropDownTarget.cs.meta
  Tests/Editor/CustomDrawers/WValueDropDownDrawerMultiObjectTests.cs
  Tests/Editor/CustomDrawers/WValueDropDownDrawerMultiObjectTests.cs.meta
  scripts/lint-drawer-multiobject.ps1
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/pre-push
  .github/workflows/validate-docs.yml
  .gitignore
  .llm/context.md
  .llm/skills/create-unity-meta.md
  .llm/skills/editor-caching-patterns.md
  .llm/skills/linter-reference.md
  .llm/skills/property-drawer-rules.md
  .llm/skills/validation-troubleshooting.md
  .npmignore
  CHANGELOG.md
  Editor/CustomDrawers/IntDropDownDrawer.cs
  Editor/CustomDrawers/PoolTypeConfigurationDrawer.cs
  cspell.json
  docs/features/editor-tools/failed-tests-exporter.md
  docs/features/editor-tools/failed-tests-exporter.md.meta
  scripts/lint-gitignore-docs.ps1
  scripts/lint-gitignore-docs.ps1.meta
  scripts/tests/test-gitignore-docs.ps1
  scripts/tests/test-gitignore-docs.ps1.meta
  scripts/tests/test-lint-skill-sizes.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .githooks/pre-commit
  .githooks/pre-push
  .llm/skills/git-hook-patterns.md
  .llm/skills/validation-troubleshooting.md
  scripts/check-eol.ps1
  scripts/lint-csharp-naming.ps1
  scripts/lint-doc-links.ps1
  scripts/lint-gitignore-docs.ps1
  scripts/lint-meta-files.ps1
  scripts/lint-no-regions.ps1
  scripts/lint-staged-links.ps1
  scripts/lint-tests.ps1
  scripts/lint-unity-file-naming.ps1
  scripts/normalize-eol.ps1
  scripts/tests/test-hook-patterns.sh
  scripts/tests/test-hook-patterns.sh.meta
Due: prettier, markdownlint, lychee

PR feedback
  .llm/skills/editor-multi-object-editing.md
  .llm/skills/formatting-and-linting.md
  .llm/skills/property-drawer-rules.md
  .llm/skills/validation-troubleshooting.md
  Editor/CustomEditors/TexturePlatformOverrideEntryDrawer.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Editor/Sprites/TexturePlatformNameHelper.cs
  Editor/Sprites/TextureSettingsApplierAPI.cs
  Editor/Sprites/TextureSettingsApplierWindow.cs
  Tests/Editor/CustomEditors/PersistentDirectoryGUITests.cs
  Tests/Editor/CustomEditors/TexturePlatformOverrideEntryDrawerMultiObjectTests.cs
  Tests/Editor/CustomEditors/TexturePlatformOverrideEntryDrawerMultiObjectTests.cs.meta
  Tests/Editor/CustomEditors/TexturePlatformOverrideEntryDrawerTests.cs
  Tests/Editor/CustomEditors/WButtonInspectorTests.cs
  Tests/Editor/TestTypes/MultiObjectTexturePlatformOverrideTarget.cs
  Tests/Editor/TestTypes/MultiObjectTexturePlatformOverrideTarget.cs.meta
  cspell.json
Due: prettier, markdownlint, lychee

Local issues
  .gitignore
  .llm/skills/create-unity-meta.md
  .llm/skills/linter-reference.md
  .llm/skills/validation-troubleshooting.md
  cspell.json
  scripts/lint-meta-files.ps1
  scripts/tests/test-lint-meta-exclusions.sh
  scripts/tests/test-lint-meta-exclusions.sh.meta
Due: prettier, markdownlint, lychee

Pre-push fixes
  .githooks/pre-push
  .llm/skills/linter-reference.md
  .llm/skills/test-unity-lifecycle.md
  .llm/skills/validation-troubleshooting.md
  scripts/lint-tests.ps1
  scripts/tests/test-lint-tests.ps1
  scripts/tests/test-lint-tests.ps1.meta
Due: prettier, markdownlint, lychee

More CI/CD
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/doc-code-samples.yml
  .github/workflows/drawer-multiobject-lint.yml
  .github/workflows/license-year-audit.yml
  .github/workflows/llm-instructions-lint.yml
  .github/workflows/meta-file-lint.yml
  .github/workflows/odin-undo-safety-lint.yml
  .github/workflows/sync-banner-version.yml
  .github/workflows/sync-issue-template.yml
  .github/workflows/test-lint.yml
  .github/workflows/unity-file-naming-lint.yml
  .github/workflows/validate-devcontainer.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validate-formatting.yml
  .github/workflows/validate-hooks.yml
  .llm/context.md
  .llm/skills/defensive-editor-programming.md
  .llm/skills/editor-multi-object-editing.md
  .llm/skills/markdown-reference.md
  .llm/skills/odin-undo-safety.md
  .llm/skills/odin-undo-safety.md.meta
  .llm/skills/validate-before-commit.md
  Editor/CustomDrawers/Odin/IntDropDownOdinDrawer.cs
  scripts/generate-skills-index.ps1
  scripts/lint-llm-instructions.ps1
  scripts/lint-odin-undo-safety.ps1
  scripts/lint-odin-undo-safety.ps1.meta
  scripts/tests/test-lint-odin-undo-safety.ps1
  scripts/tests/test-lint-odin-undo-safety.ps1.meta
  scripts/tests/test-llm-instructions-lint.ps1
  scripts/tests/test-llm-instructions-lint.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

Remove Stale Issues Bot (#223)
  .github/workflows/stale.yml
Due: prettier, yamllint

GitHook fixes
  .githooks/pre-push
  .llm/skills/linter-reference.md
  .llm/skills/ship-changes.md
  Runtime/Utils/Buffers.cs
  cspell.json
  package.json
  scripts/lint-cspell-config.js
  scripts/lint-cspell-config.js.meta
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/post-rewrite
  .githooks/pre-commit
  .githooks/pre-push
  .llm/context.md
  .llm/skills/git-hook-lifecycle-debugging.md
  .llm/skills/git-hook-lifecycle-debugging.md.meta
  .llm/skills/git-hook-patterns.md
  .llm/skills/git-hook-safety.md
  .llm/skills/git-hook-safety.md.meta
  .llm/skills/git-hook-syntax-portability.md
  .llm/skills/git-hook-syntax-portability.md.meta
  .llm/skills/optimize-git-hooks.md
  .llm/skills/validation-troubleshooting.md
  package.json
  scripts/audit-license-years.sh
  scripts/check-eol.ps1
  scripts/lint-gitignore-docs.ps1
  scripts/lint-llm-instructions.ps1
  scripts/lint-meta-files.ps1
  scripts/markdown-helpers.ps1
  scripts/sync-doc-counts.ps1
  scripts/tests/test-license-cache.sh
  scripts/tests/test-license-cache.sh.meta
  scripts/tests/test-llm-instructions-lint.ps1
  scripts/tests/test-post-create.sh
  scripts/tests/test-pre-push-changed-files.sh
  scripts/tests/test-pre-push-changed-files.sh.meta
  scripts/tests/test-shell-portability.sh
  scripts/tests/test-shell-portability.sh.meta
  scripts/tests/test-wiki-generation.sh
  scripts/unity/run-unity-docker.sh
  scripts/unity/setup.sh
  scripts/unity/validate-license-setup.sh
  scripts/validate-hook-sync-calls.ps1
  skills_stderr.txt
  skills_stdout.txt
Due: prettier, markdownlint, lychee

Remove useless files
  .llm/skills/git-hook-lifecycle-debugging.md.meta
  .llm/skills/git-hook-safety.md.meta
  .llm/skills/git-hook-syntax-portability.md.meta
  skills_stderr.txt
  skills_stdout.txt
Due: none

Update gitignore
  .gitignore
Due: none

githook fixes
  .githooks/pre-push
  cspell.json
  package.json
  scripts/lint-gitignore-docs.ps1
  scripts/tests/test-gitignore-docs.ps1
Due: prettier

GitHook fixes
  .githooks/pre-commit
  .githooks/pre-push
  .llm/skills/formatting-and-linting.md
  cspell.json
  scripts/markdown-helpers.ps1.meta
Due: prettier, markdownlint, lychee

PR feedback
  scripts/lint-llm-instructions.ps1
  scripts/lint-meta-files.ps1
  scripts/tests/test-lint-meta-exclusions.sh
  scripts/tests/test-llm-instructions-lint.ps1
Due: none

PR feedback
  .githooks/pre-commit
  .githooks/pre-push
  .llm/skills/git-hook-syntax-portability.md
  .llm/skills/optimize-git-hooks.md
  scripts/tests/test-post-create.sh
  scripts/tests/test-pre-push-changed-files.sh
  scripts/tests/test-shell-portability.sh
  scripts/validate-hook-permissions.sh
Due: prettier, markdownlint, lychee

git hook fixes
  .githooks/pre-commit
  .githooks/pre-push
  .gitignore
  .prettierignore
  cspell.json
  scripts/validate-hook-sync-calls.ps1
Due: prettier

PR feedback
  .githooks/pre-push
  .llm/skills/linter-reference.md
  .llm/skills/validation-troubleshooting.md
  .lychee.toml
  package.json
  scripts/lint-cspell-config.js
  scripts/sync-banner-version.ps1
  scripts/sync-doc-counts.ps1
  scripts/tests/test-lint-meta-exclusions.sh
  scripts/tests/test-sync-script-contracts.ps1
  scripts/tests/test-sync-script-contracts.ps1.meta
Due: prettier, markdownlint, lychee

Update .github/workflows/build-publish-devcontainer.yml
  .github/workflows/build-publish-devcontainer.yml
Due: prettier, yamllint

Group Dependabot updates into larger PRs
  .github/dependabot.yml
Due: prettier, yamllint

Group Dependabot updates into weekly per-ecosystem grouped PRs (#236)
  .githooks/pre-commit
  .github/dependabot.yml
  .github/workflows/dependabot-lint.yml
  .github/workflows/dependabot-lint.yml.meta
  .llm/context.md
  .llm/skills/formatting-and-linting.md
  .llm/skills/linter-reference.md
  package.json
  scripts/lint-dependabot.ps1
  scripts/lint-dependabot.ps1.meta
  scripts/tests/test-lint-dependabot.ps1
  scripts/tests/test-lint-dependabot.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

Update .github/workflows/validate-devcontainer.yml
  .github/workflows/validate-devcontainer.yml
Due: prettier, yamllint

Fix devcontainer publish failures on arm64 and harden regression contract checks (#239)
  .devcontainer/Dockerfile
  .github/workflows/validate-devcontainer.yml
  package.json
  scripts/tests/test-validate-devcontainer-urls.sh
  scripts/tests/test-validate-devcontainer-urls.sh.meta
Due: prettier, yamllint

Add explicit unsigned UPM signature metadata and enforce it via regression test (#240)
  package.json
  scripts/tests/test-npm-package-signature.ps1
  scripts/tests/test-npm-package-signature.ps1.meta
Due: prettier

Enable UPM inline changelog rendering, fix meta-lint CI regression, and harden changelog packaging contract test (#241)
  package.json
  scripts/tests/test-npm-package-changelog.ps1
  scripts/tests/test-npm-package-changelog.ps1.meta
Due: prettier

Progress maybe?
  .devcontainer/Dockerfile
  .githooks/pre-commit
  .github/workflows/validate-devcontainer.yml
  .llm/context.md
  .llm/skills/create-unity-meta.md
  .llm/skills/editor-undo-complete.md
  .llm/skills/manage-skills.md
  .llm/skills/validate-before-commit.md
  Editor/CustomEditors/MatchColliderToSpriteEditor.cs
  Editor/CustomEditors/PolygonCollider2DOptimizerEditor.cs
  Editor/FitTextureSizeWindow.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Editor/Sprites/SpriteCropper.cs
  Editor/Sprites/SpritePivotAdjuster.cs
  Editor/Sprites/SpriteSettingsApplierAPI.cs
  Editor/Sprites/TextureSettingsApplierAPI.cs
  Editor/Tags/AttributeMetadataCacheEditor.cs
  Tests/Editor/Sprites/TextureSettings/TextureSettingsApplierAPITests.cs
  package.json
  scripts/agent-preflight.ps1
  scripts/agent-preflight.ps1.meta
  scripts/git-staging-helpers.ps1
  scripts/git-staging-helpers.sh
  scripts/lint-skill-sizes.ps1
  scripts/tests/test-agent-preflight.ps1
  scripts/tests/test-agent-preflight.ps1.meta
  scripts/tests/test-git-staging-helpers.sh
  scripts/tests/test-git-staging-helpers.sh.meta
  scripts/tests/test-lint-skill-sizes.ps1
  scripts/tests/test-validate-devcontainer-urls.sh
  scripts/tests/test-validate-devcontainer-urls.sh.meta
  scripts/validate-devcontainer-urls.sh
Due: prettier, markdownlint, yamllint, lychee

git fixes
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
  package.json
  scripts/agent-preflight.ps1
  scripts/tests/test-agent-preflight.ps1
  scripts/tests/test-sync-script-contracts.ps1
Due: prettier, markdownlint, lychee

GitHook fixes
  .githooks/pre-commit
  .githooks/pre-merge-commit
  .githooks/pre-push
  .github/workflows/lint-error-codes.yml
  .github/workflows/validate-hooks.yml
  .llm/context.md
  .llm/skills/bash-pwsh-invocation.md
  .llm/skills/formatting-and-linting.md
  .llm/skills/linter-reference.md
  .llm/skills/validate-before-commit.md
  cspell.json
  package.json
  scripts/agent-preflight.ps1
  scripts/install-hooks.ps1
  scripts/install-hooks.sh
  scripts/tests/test-precommit-integration.sh
  scripts/tests/test-validate-lint-error-codes.ps1
  scripts/tests/test-validate-lint-error-codes.ps1.meta
  scripts/validate-hook-sync-calls.ps1
  scripts/validate-lint-error-codes.ps1
  scripts/validate-lint-error-codes.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

Latest test bug fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .llm/skills/investigate-test-failures.md
  CHANGELOG.md
  Editor/Sprites/SpriteSettingsApplierAPI.cs
  Editor/Sprites/TextureSettingsApplierAPI.cs
  Runtime/Utils/Buffers.cs
  Tests/Runtime/Performance/PoolPurgeTriggerPerformanceTests.cs
  Tests/Runtime/Pool/GlobalPoolRegistryTests.cs
  Tests/Runtime/Pool/GradualPurgingTests.cs
  Tests/Runtime/Pool/PoolAccessFrequencyTests.cs
  Tests/Runtime/Pool/PoolPurgeStrategyTests.cs
  Tests/Runtime/Pool/PoolSizeAwarePoliciesTests.cs
  Tests/Runtime/Pool/TypeAwarePoliciesTests.cs
  Tests/Runtime/Pool/WallstopGenericPoolTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
  docs/performance/ilist-sorting-performance.md
  docs/performance/random-performance.md
  docs/performance/reflection-performance.md
  docs/performance/relational-components-performance.md
  docs/performance/spatial-tree-2d-performance.md
  docs/performance/spatial-tree-3d-performance.md
Due: prettier, markdownlint, yamllint, lychee
