Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref)
  entry: npx --yes prettier --write
  language: system
  description: Use the repo's Prettier version from package.json.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint --config .markdownlint.json --ignore-path .markdownlintignore
  language: system

Update
  README.md
Due: prettier, markdownlint

Update version
  package.json
Due: prettier

Enhance dependabot
  .github/dependabot.yml
  .github/workflows/update-dotnet-tools.yml
Due: none

doc updates
  README.md
Due: prettier, markdownlint

README updates
  .github/dependabot.yml
  .github/scripts/check-markdown-links.ps1
  .github/scripts/check_markdown_links.py
  .github/scripts/check_markdown_url_encoding.py
  .github/scripts/validate_markdown_links.py
  .github/workflows/csharpier-autofix.yml
  .github/workflows/csharpier.yml
  .github/workflows/json-format-check.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/yaml-format-lint.yml
  README.md
Due: prettier, markdownlint

linter updates
  .lychee.toml
  .markdownlint.jsonc
  .yamllint.yaml
Due: none

Linter updates
  .githooks/pre-commit
  .githooks/pre-push
  .pre-commit-config.yaml
  package.json
Due: prettier

Linter feedback
  .lychee.toml
  GETTING_STARTED.md
  README.md
  Samples~/DI - Zenject/README.md
  Samples~/Random - PRNG/README.md
  Samples~/Relational Components - Basic/README.md
  Samples~/Serialization - JSON/README.md
  Samples~/Spatial Structures - 2D and 3D/README.md
  Samples~/UGUI - EnhancedImage/README.md
  Samples~/UI Toolkit - MultiFile Selector (Editor)/README.md
  THIRD_PARTY_NOTICES.md
Due: prettier, markdownlint

Linting updates
  Samples~/DI - VContainer/README.md
  Samples~/DI - Zenject/README.md
  Samples~/Random - PRNG/README.md
  Samples~/Relational Components - Basic/README.md
  Samples~/Serialization - JSON/README.md
  Samples~/Spatial Structures - 2D and 3D/README.md
  Samples~/UGUI - EnhancedImage/README.md
  Samples~/UI Toolkit - MultiFile Selector (Editor)/README.md
Due: prettier, markdownlint

Prettier updates
  .markdownlint.jsonc
  .yamllint.yaml
Due: none

Updates
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/yaml-format-lint.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  package.json
Due: prettier

Markdown updates
  EFFECTS_SYSTEM.md
  GETTING_STARTED.md
  MATH_AND_EXTENSIONS.md
  README.md
  RELATIONAL_COMPONENTS.md
  SERIALIZATION.md
  SINGLETONS.md
  SPATIAL_TREE_SEMANTICS.md
Due: prettier, markdownlint

Better EOL checks
  .editorconfig
  .gitattributes
  .githooks/pre-push
  .github/workflows/markdown-json.yml
  AGENTS.md
  Runtime/Utils/ScriptableObjectSingleton.cs
  scripts/check-eol.ps1
  scripts/normalize-eol.ps1
Due: prettier, markdownlint

Remove unused imports
  Runtime/Core/DataStructure/CyclicBuffer.cs
Due: none

Update dependabot
  .github/dependabot.yml
Due: none

Update links
  README.md
Due: prettier, markdownlint

Update linting
  .github/workflows/csharpier-autofix.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
Due: none

Updates
  .github/workflows/csharpier-autofix.yml
Due: none

PR updates
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .gitignore
  CONTRIBUTING.md
  CONTRIBUTING.md.meta
  README.md
  package-lock.json
  package-lock.json.meta
Due: prettier, markdownlint

Update package lock
  package-lock.json
Due: prettier

Prettier
  EFFECTS_SYSTEM.md
  GETTING_STARTED.md
  MATH_AND_EXTENSIONS.md
  README.md
  RELATIONAL_COMPONENTS.md
  SERIALIZATION.md
  SINGLETONS.md
  SPATIAL_TREE_SEMANTICS.md
Due: prettier, markdownlint

Updates
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
Due: none

Format workflow files
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/markdown-json.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
Due: none

Minor updates
  CHANGELOG.md
  EDITOR_TOOLS_GUIDE.md
  Editor/PrefabChecker.cs
  README.md
  Runtime/Core/Extension/RandomExtensions.cs
  Runtime/Core/Extension/WallstopStudiosLogger.cs
  Runtime/Core/Helper/Partials/ObjectHelpers.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Runtime/Core/Helper/SpriteHelpers.cs
  Runtime/Core/Helper/UnityMainThreadDispatcher.cs
  Runtime/Core/Serialization/JsonConverters/GameObjectConverter.cs
  Runtime/Core/Serialization/Serializer.cs
  Runtime/Utils/SetTextureImportData.cs
  Runtime/Utils/TextureScale.cs
  Runtime/Visuals/UIToolkit/LayeredImage.cs
  SERIALIZATION.md
Due: prettier, markdownlint

Remove spatial tree tests
  Runtime/Core/Serialization/Serializer.cs
  Tests/Runtime/DataStructures/SpatialTree3DBoundsConsistencyTests.cs
Due: none

Test updates
  Runtime/Integrations/VContainer/RelationalSceneLoadListener.cs
  Runtime/Integrations/Zenject/RelationalComponentSceneInitializer.cs
  Runtime/Integrations/Zenject/RelationalSceneLoadListener.cs
  Tests/Runtime/Integrations/VContainer/RelationalObjectPoolsVContainerTests.cs
Due: none

Test updates
  Tests/Editor/Utils/CommonTestBase.cs
  Tests/Runtime/Integrations/VContainer/RelationalComponentsVContainerTests.cs
  Tests/Runtime/Integrations/VContainer/RelationalObjectPoolsVContainerTests.cs
  Tests/Runtime/Integrations/Zenject/RelationalComponentsZenjectTests.cs
  Tests/Runtime/TestUtils/CommonTestBase.cs
Due: none

Test updates
  Tests/Editor/Integrations/VContainer/VContainerRelationalHelpersTests.cs
  Tests/Editor/Integrations/Zenject/ZenjectRelationalHelpersTests.cs
Due: none

DI Integration fixes
  Tests/Editor/Integrations/VContainer/VContainerRelationalHelpersTests.cs
  Tests/Editor/Integrations/Zenject/ZenjectRelationalHelpersTests.cs
  Tests/Runtime/Integrations/VContainer/RelationalComponentsVContainerTests.cs
  Tests/Runtime/Integrations/Zenject/RelationalComponentsZenjectTests.cs
Due: none

Doc updates
  RELATIONAL_COMPONENTS.md
  Runtime/Integrations/VContainer/RelationalComponentsBuilderExtensions.cs
  Runtime/Integrations/VContainer/RelationalObjectPools.cs
  Runtime/Integrations/Zenject/RelationalComponentsInstaller.cs
  Samples~/DI - VContainer/README.md
  Samples~/DI - VContainer/Scripts/GameLifetimeScope.cs
  Samples~/DI - VContainer/Scripts/RelationalConsumer.cs
  Samples~/DI - VContainer/Scripts/Spawner.cs
  Samples~/DI - Zenject/README.md
  Samples~/DI - Zenject/Scripts/RelationalConsumer.cs
  Samples~/DI - Zenject/Scripts/RelationalConsumerPool.cs
  Samples~/DI - Zenject/Scripts/RelationalConsumerPool.cs.meta
  Samples~/DI - Zenject/Scripts/SpawnerZenject.cs
Due: prettier, markdownlint

Doc updates
  GETTING_STARTED.md
  RANDOM_PERFORMANCE.md
  README.md
  Runtime/Utils/Buffers.cs
  SPATIAL_TREE_2D_PERFORMANCE.md
  SPATIAL_TREE_3D_PERFORMANCE.md
Due: prettier, markdownlint

2.0 release
  package.json
Due: prettier

Linter fixes
  Editor/Core/Helper/AnimationEventHelpers.cs
  README.md
  Runtime/Integrations/VContainer/AssemblyInfo.cs
  Runtime/Integrations/VContainer/AssemblyInfo.cs.meta
  Runtime/Integrations/Zenject/AssemblyInfo.cs
  Runtime/Integrations/Zenject/AssemblyInfo.cs.meta
  Tests/Runtime/Serialization/SerializerAdditionalTests.cs
Due: prettier, markdownlint

Update package log
  package-lock.json
Due: prettier

Update CI/CD
  .github/workflows/prettier-autofix.yml
Due: none

update workflow files
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
Due: none

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref)$
  markdownlint: any of: (?i)\.(md|markdown)$
