Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref)
  entry: npx --yes prettier --write
  language: system
  description: Use the repo's Prettier version from package.json.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint --config .markdownlint.json --ignore-path .markdownlintignore
  language: system

More sorting methods
  Runtime/Core/Extension/IListExtensions.cs
  Tests/Runtime/Extensions/IListExtensionTests.cs
Due: none

Update serialization tests
  Tests/Runtime/Random/RandomTestBase.cs
Due: none

Performance updates
  Docs/ILIST_SORTING_PERFORMANCE.md
  Docs/ILIST_SORTING_PERFORMANCE.md.meta
  Docs/Images/random_generators.svg
  Docs/RANDOM_PERFORMANCE.md
  Docs/SPATIAL_TREE_2D_PERFORMANCE.md
  Docs/SPATIAL_TREE_3D_PERFORMANCE.md
  README.md
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/PhotonSpinRandom.cs
  Runtime/Core/Random/StormDropRandom.cs
  Tests/Runtime/Performance/IListSortingPerformanceTests.cs
  Tests/Runtime/Performance/IListSortingPerformanceTests.cs.meta
  Tests/Runtime/Random/RandomProtoSerializationTests.cs
Due: prettier, markdownlint

Bump version, PR feedback
  Docs/RANDOM_PERFORMANCE.md
  README.md
  package.json
Due: prettier, markdownlint

Update GhostSort links
  Docs/ILIST_SORTING_PERFORMANCE.md
  Runtime/Core/Extension/IListExtensions.cs
Due: prettier, markdownlint

ReflectionHelper updates
  Docs/REFLECTION_HELPERS.md
  Docs/REFLECTION_PERFORMANCE.md
  Docs/REFLECTION_PERFORMANCE.md.meta
  README.md
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs.meta
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Helper/ReflectionHelperTests.cs
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs.meta
Due: prettier, markdownlint

Progress on ReflectionHelpers refactor
  Runtime/Core/Attributes/NotNullAttribute.cs
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs
Due: none

Progress
  Docs/CONTRIBUTING.md
  README.md
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Editor/Helper/ReflectionHelpersTypedEditorTests.cs
  Tests/Editor/Helper/ReflectionHelpersTypedEditorTests.cs.meta
  Tests/Runtime/Helper/ReflectionHelperTests.cs
Due: prettier, markdownlint

Updated compilation issues
  README.md
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs.meta
  Tests/Runtime/Helper/ReflectionHelperTests.cs
Due: prettier, markdownlint

ReflectionHelper progress
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: none

More updates
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: none

Progress
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: none

Progress
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: none

Progress
  Docs/REFLECTION_HELPERS.md
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: prettier, markdownlint

Fix Runtime checks
  Docs/REFLECTION_HELPERS.md
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
Due: prettier, markdownlint

Progress
  Docs/ILIST_SORTING_PERFORMANCE.md
  Docs/RANDOM_PERFORMANCE.md
  Editor/Sprites/AnimationCopier.cs
  Runtime/Core/DataStructure/ImmutableBitSet.cs
  Runtime/Core/Helper/Objects.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Math/Line2D.cs
  Runtime/Core/Math/Line3D.cs
  Runtime/Tags/AttributeMetadataCache.cs
  Runtime/Tags/CosmeticEffectData.cs
  Tests/Editor/PrefabCheckerReportTests.cs
  Tests/Editor/Sprites/AnimationCopierFilterTests.cs
  Tests/Editor/Sprites/AnimationViewerWindowTests.cs
  Tests/Runtime/Helper/ObjectsTests.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs
Due: prettier, markdownlint

Progress
  Docs/REFLECTION_PERFORMANCE.md
  Docs/SPATIAL_TREE_2D_PERFORMANCE.md
  Docs/SPATIAL_TREE_3D_PERFORMANCE.md
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs
Due: prettier, markdownlint

Update gitignore
  .gitignore
Due: none

RelationalComponent benchmarks
  Docs/ILIST_SORTING_PERFORMANCE.md
  Docs/INDEX.md
  Docs/RANDOM_PERFORMANCE.md
  Docs/REFLECTION_HELPERS.md
  Docs/REFLECTION_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENTS.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md.meta
  Docs/SPATIAL_TREE_2D_PERFORMANCE.md
  Docs/SPATIAL_TREE_3D_PERFORMANCE.md
  README.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Attributes/SiblingComponentAttribute.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Performance/ReflectionPerformanceTests.cs
  Tests/Runtime/Performance/RelationalComponentBenchmarkTests.cs
  Tests/Runtime/Performance/RelationalComponentBenchmarkTests.cs.meta
Due: prettier, markdownlint

Remove allocations in ReflectionHelper (where appropriate)
  Docs/REFLECTION_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
Due: prettier, markdownlint

Add SourceGenerator solution
  SourceGenerators/WallstopStudios.UnityHelpers.SourceGenerators/WallstopStudios.UnityHelpers.SourceGenerators.sln
  SourceGenerators/WallstopStudios.UnityHelpers.SourceGenerators/WallstopStudios.UnityHelpers.SourceGenerators.sln.meta
Due: none

Fix FlurryBurst random
  Runtime/Core/Random/FlurryBurstRandom.cs
Due: none

Minor perf improvements
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Attributes/RelationalComponentExtensions.cs
  Runtime/Core/Attributes/SiblingComponentAttribute.cs
  Runtime/Core/Helper/Logging/UnityLogTagFormatter.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Runtime/Visuals/UIToolkit/MultiFileSelectorElement.cs
  Tests/Runtime/Performance/RelationalComponentBenchmarkTests.cs
Due: prettier, markdownlint

Performance improvements
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Attributes/RelationalComponentAssigner.cs
  Runtime/Core/Attributes/SiblingComponentAttribute.cs
  Tests/Runtime/Performance/RelationalComponentBenchmarkTests.cs
Due: prettier, markdownlint

Updates
  Docs/REFLECTION_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/RelationalComponentAssigner.cs
Due: prettier, markdownlint

PR feedback
  Docs/CONTRIBUTING.md
  Docs/REFLECTION_HELPERS.md
  Docs/REFLECTION_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Diagnostics.meta
  Runtime/Core/Diagnostics/RelationalComponentInstrumentation.cs
  Runtime/Core/Diagnostics/RelationalComponentInstrumentation.cs.meta
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Tests/Runtime/Helper/ReflectionHelperCapabilityMatrixTests.cs
Due: prettier, markdownlint

PR feedback 2
  Docs/CONTRIBUTING.md
  Docs/ILIST_SORTING_PERFORMANCE.md
  Docs/RANDOM_PERFORMANCE.md
  Docs/REFLECTION_PERFORMANCE.md
  Docs/RELATIONAL_COMPONENTS.md
  Docs/RELATIONAL_COMPONENT_PERFORMANCE.md
  Docs/SPATIAL_TREE_2D_PERFORMANCE.md
  Editor/Settings.meta
  Runtime/Core/Helper/Helpers.cs
Due: prettier, markdownlint

Remove package-lock
  .gitignore
  Docs/SPATIAL_TREE_3D_PERFORMANCE.md
  package-lock.json
  package-lock.json.meta
Due: prettier, markdownlint

Version bump
  package.json
Due: prettier

Version bump (#86)
  package.json
Due: prettier

Fix SINGLE_THREADED issues
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
Due: none

Bump version
  package.json
Due: prettier

Fix SINGLE_THREADED issues (#87)
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  package.json
Due: prettier

Add new randoms, auto-generate random markdown data
  Docs/RANDOM_PERFORMANCE.md
  README.md
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Core/Random/BlastCircuitRandom.cs
  Runtime/Core/Random/BlastCircuitRandom.cs.meta
  Runtime/Core/Random/DotNetRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/IllusionFlow.cs
  Runtime/Core/Random/LinearCongruentialGenerator.cs
  Runtime/Core/Random/PcgRandom.cs
  Runtime/Core/Random/PhotonSpinRandom.cs
  Runtime/Core/Random/RandomGeneratorMetadata.cs
  Runtime/Core/Random/RandomGeneratorMetadata.cs.meta
  Runtime/Core/Random/RandomSpeedBucket.cs
  Runtime/Core/Random/RandomSpeedBucket.cs.meta
  Runtime/Core/Random/RomuDuo.cs
  Runtime/Core/Random/SplitMix64.cs
  Runtime/Core/Random/SquirrelRandom.cs
  Runtime/Core/Random/StormDropRandom.cs
  Runtime/Core/Random/SystemRandom.cs
  Runtime/Core/Random/UnityRandom.cs
  Runtime/Core/Random/WaveSplatRandom.cs
  Runtime/Core/Random/WaveSplatRandom.cs.meta
  Runtime/Core/Random/WyRandom.cs
  Runtime/Core/Random/XorShiftRandom.cs
  Runtime/Core/Random/XoroShiroRandom.cs
  Tests/Runtime/Performance/RandomBenchmarkMarkdownBuilder.cs
  Tests/Runtime/Performance/RandomBenchmarkMarkdownBuilder.cs.meta
  Tests/Runtime/Performance/RandomBenchmarkResult.cs
  Tests/Runtime/Performance/RandomBenchmarkResult.cs.meta
  Tests/Runtime/Performance/RandomPerformanceTests.cs
  Tests/Runtime/Random/BlastCircuitRandomTests.cs
  Tests/Runtime/Random/BlastCircuitRandomTests.cs.meta
  Tests/Runtime/Random/RandomProtoSerializationTests.cs
  Tests/Runtime/Random/WaveSplatRandomTests.cs
  Tests/Runtime/Random/WaveSplatRandomTests.cs.meta
  package.json
Due: prettier, markdownlint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref)$
  markdownlint: any of: (?i)\.(md|markdown)$
