Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-banner-version
        name: Sync banner version from package.json
        entry: pwsh -NoProfile -File scripts/sync-banner-version.ps1
        language: system
        always_run: true
        pass_filenames: false
        require_serial: true
        description: Updates the version in the SVG banner when package.json version changes.
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores. Auto-renames when run locally.
      - id: csharp-no-regions
        name: "Lint C# files for #region directives"
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: "Prevent #region directives from being checked in. Auto-removes when run locally."
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'
      - id: lychee
        name: Check markdown links (lychee)
        entry: pwsh -NoProfile -File scripts/lint-staged-links.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        pass_filenames: false
        require_serial: true
        description: Check for broken links in staged markdown files using lychee.

PR feedback
  .llm/skills/wiki-generation.md
  scripts/tests/test-wiki-generation.sh
Due: prettier, markdownlint, lychee

More wiki fixes (dead links) (#123)
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-wiki-links.yml
  .llm/context.md
  .llm/skills/wiki-generation.md
  package.json
  scripts/tests/test-wiki-generation.sh
  scripts/tests/test-wiki-generation.sh.meta
Due: prettier, markdownlint, yamllint, lychee

GitHub pages fixes
  .editorconfig
  .gitattributes
  .llm/context.md
  .llm/skills/validate-before-commit.md
  .prettierrc.json
  scripts/check-eol.ps1
  scripts/normalize-eol.ps1
Due: prettier, markdownlint, lychee

PR feedback
  .llm/context.md
  scripts/check-eol.ps1
  scripts/normalize-eol.ps1
Due: prettier, markdownlint, lychee

PR feedback
  .llm/skills/format-non-csharp.md
  .llm/skills/search-codebase.md
  .llm/skills/validate-before-commit.md
  .prettierrc.json
Due: prettier, markdownlint, lychee

GitHub pages fixes (#124)
  .editorconfig
  .gitattributes
  .llm/context.md
  .llm/skills/format-non-csharp.md
  .llm/skills/search-codebase.md
  .llm/skills/validate-before-commit.md
  .prettierrc.json
  scripts/check-eol.ps1
  scripts/normalize-eol.ps1
Due: prettier, markdownlint, lychee

Github Pages and Wiki fixes
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validate-wiki-links.yml
  .gitignore
  .llm/context.md
  .llm/skills/github-actions-script-pattern.md
  .llm/skills/wiki-generation.md
  _includes/head-custom.html
  assets/css/theme.css
  cspell.json
  scripts/lint-doc-links.ps1
  scripts/tests/test-wiki-generation.sh
  scripts/validate-github-pages-css.sh
  scripts/validate-github-pages-css.sh.meta
  scripts/wiki.meta
  scripts/wiki/generate_wiki_footer.py
  scripts/wiki/generate_wiki_footer.py.meta
  scripts/wiki/generate_wiki_sidebar.py
  scripts/wiki/generate_wiki_sidebar.py.meta
  scripts/wiki/prepare_wiki.py
  scripts/wiki/prepare_wiki.py.meta
  scripts/wiki/test_wiki_scripts.py
  scripts/wiki/test_wiki_scripts.py.meta
  scripts/wiki/transform_wiki_links.py
  scripts/wiki/transform_wiki_links.py.meta
Due: prettier, markdownlint, yamllint, lychee

Fix CI/CD break
  .githooks/pre-push
  .llm/skills/validate-before-commit.md
  .llm/skills/wiki-generation.md
  CHANGELOG.md
  scripts/tests/test-wiki-generation.sh
Due: prettier, markdownlint, lychee

PR feedback
  _includes/head-custom.html
  assets/css/theme.css
  scripts/wiki/generate_wiki_sidebar.py
  scripts/wiki/prepare_wiki.py
  scripts/wiki/test_wiki_scripts.py
Due: none

PR feedback
  scripts/wiki/prepare_wiki.py
Due: none

PR feedback
  .llm/skills/github-pages.md
  .llm/skills/wiki-generation.md
  assets/css/theme.css
  cspell.json
  scripts/tests/test-wiki-generation.sh
  scripts/wiki/transform_wiki_links.py
Due: prettier, markdownlint, lychee

PR feedback
  .llm/skills/create-test.md
  scripts/wiki/test_wiki_scripts.py
Due: prettier, markdownlint, lychee

Github Pages and Wiki fixes (#125)
  .githooks/pre-push
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validate-wiki-links.yml
  .gitignore
  .llm/context.md
  .llm/skills/create-test.md
  .llm/skills/github-actions-script-pattern.md
  .llm/skills/github-pages.md
  .llm/skills/validate-before-commit.md
  .llm/skills/wiki-generation.md
  CHANGELOG.md
  _includes/head-custom.html
  assets/css/theme.css
  cspell.json
  scripts/lint-doc-links.ps1
  scripts/tests/test-wiki-generation.sh
  scripts/validate-github-pages-css.sh
  scripts/validate-github-pages-css.sh.meta
  scripts/wiki.meta
  scripts/wiki/generate_wiki_footer.py
  scripts/wiki/generate_wiki_footer.py.meta
  scripts/wiki/generate_wiki_sidebar.py
  scripts/wiki/generate_wiki_sidebar.py.meta
  scripts/wiki/prepare_wiki.py
  scripts/wiki/prepare_wiki.py.meta
  scripts/wiki/test_wiki_scripts.py
  scripts/wiki/test_wiki_scripts.py.meta
  scripts/wiki/transform_wiki_links.py
  scripts/wiki/transform_wiki_links.py.meta
Due: prettier, markdownlint, yamllint, lychee

Update npmignore
  .npmignore
Due: none

More LINQ removal
  .devcontainer/devcontainer.json
  Editor/CustomDrawers/Odin/WEnumToggleButtonsOdinDrawer.cs
  Editor/CustomDrawers/Odin/WInLineEditorOdinDrawer.cs
  Runtime/Core/Attributes/ValidateAssignmentAttribute.cs
  Runtime/Core/Attributes/WShowIfAttribute.cs
  Runtime/Core/Extension/ColorExtensions.cs
  Runtime/Core/Extension/DirectionExtensions.cs
  Runtime/Core/Extension/IListExtensions.cs
  Runtime/Core/Extension/IReadonlyListExtensions.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Runtime/Core/Extension/WallstopStudiosLogger.cs
  Runtime/Core/Helper/Partials/ObjectHelpers.cs
  Runtime/Core/Helper/Partials/TransformHelpers.cs
  Runtime/Core/Helper/PathHelper.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Runtime/Core/Helper/WallMath.cs
  Runtime/Core/Random/RandomState.cs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Visuals/UIToolkit/LayeredImage.cs
  cspell.json
  package.json
Due: prettier

Generalization of Editor concepts
  Editor/CustomDrawers/Odin/WEnumToggleButtonsOdinDrawer.cs
  Editor/CustomDrawers/Utils/EnumToggleButtonsShared.cs
  Editor/CustomDrawers/Utils/InLineEditorShared.cs
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Runtime/Core/Extension/RandomExtensions.cs
  Runtime/Core/Random/IRandom.cs
  Tests/Runtime/Performance/PerformanceBaselineTests.cs
  cspell.json
  docs/performance/baseline-tests-performance.md
  docs/performance/baseline-tests-performance.md.meta
Due: prettier, markdownlint, lychee

chore(dotnet-tools): update .config/dotnet-tools.json
  .config/dotnet-tools.json
Due: prettier

Many updates
  .github/PULL_REQUEST_TEMPLATE/default.yml
  .github/pull_request_template.md
  .llm/skills/create-test.md
  .llm/skills/high-performance-csharp.md
  .llm/skills/integrate-optional-dependency.md
  CHANGELOG.md
  Editor/FitTextureSizeWindow.cs
  Editor/Sprites/AnimationCreatorWindow.cs
  Editor/Sprites/SpriteSettingsApplierAPI.cs
  Editor/Sprites/SpriteSheetExtractor.cs
  Editor/Sprites/SpriteSheetExtractor.cs.meta
  Runtime/Core/Animation.meta
  Runtime/Core/Animation/FramerateMode.cs
  Runtime/Core/Animation/FramerateMode.cs.meta
  Tests/Editor/Helper/SpriteSettingsApplierAdditionalTests.cs
  Tests/Editor/Helper/SpriteSettingsApplierTests.cs
  Tests/Editor/Sprites/SpriteSheetExtractorTests.cs
  Tests/Editor/Sprites/SpriteSheetExtractorTests.cs.meta
  Tests/Editor/Tools/AnimationCreatorWindowTests.cs
  Tests/Editor/Tools/AnimationCreatorWindowTests.cs.meta
  Tests/Editor/WallstopStudios.UnityHelpers.Tests.Editor.asmdef
  Tests/Editor/Windows/FitTextureSizeWindowTests.cs
  Tests/Runtime/Performance/PerformanceBaselineTests.cs
  Tests/Runtime/Performance/PerformanceBaselineTests.cs.meta
  cspell.json
  docs/contributing.meta
  docs/contributing/testing-patterns.md
  docs/contributing/testing-patterns.md.meta
  package.json
Due: prettier, markdownlint, yamllint, lychee

Fix Creator?
  Editor/Utils/ScriptableObjectSingletonCreator.cs
Due: none

Much progress
  .llm/skills/avoid-allocations.md
  .llm/skills/editor-caching-patterns.md
  .llm/skills/high-performance-csharp.md
  .llm/skills/integrate-optional-dependency.md
  .llm/skills/optimize-unity-physics.md
  .llm/skills/optimize-unity-rendering.md
  .llm/skills/unity-performance-patterns.md
  .llm/skills/use-algorithmic-structures.md
  .llm/skills/use-data-structures.md
  .llm/skills/use-priority-structures.md
  .llm/skills/use-queue-structures.md
Due: prettier, markdownlint, lychee

Most progress
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Helper/HelpersTests.cs
Due: none

Test and prod enhancements
  CHANGELOG.md
  Editor/Sprites/AnimationCreatorWindow.cs
  Runtime/Core/DataStructure/Cache.cs
  Runtime/Core/Helper/UnityMainThreadDispatcher.cs
  Runtime/Utils/PoolSizeEstimator.cs
  Runtime/Utils/RuntimeSingleton.cs
  Tests/Editor/AssetProcessors/DetectAssetChangePrefabAndSceneTests.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeTestBase.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeTestBase.cs.meta
  Tests/Editor/AssetProcessors/TestTypes/TestExceptionThrowingHandler.cs
  Tests/Editor/Helper/UnityMainThreadDispatcherEditorTests.cs
  Tests/Runtime/Helper/UnityMainThreadDispatcherTests.cs
  scripts/lint-tests.ps1
Due: prettier, markdownlint, lychee

Performance test updates
  Tests/Editor/Sprites/SpriteSheetExtractorIntegrationTests.cs
  Tests/Runtime/Performance/IListSortingPerformanceTests.cs
  Tests/Runtime/Performance/PerformanceBaselineTests.cs
  docs/performance/baseline-tests-performance.md
  docs/performance/ilist-sorting-performance.md
  docs/performance/random-performance.md
  docs/performance/reflection-performance.md
  docs/performance/relational-components-performance.md
  docs/performance/spatial-tree-2d-performance.md
  docs/performance/spatial-tree-3d-performance.md
Due: prettier, markdownlint, lychee

Documentation updates
  CHANGELOG.md
  README.md
  docs/features/effects/effects-system-tutorial.md
  docs/features/effects/effects-system.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

LLM CI/CD fix
  .github/workflows/llm-instructions-lint.yml
  .llm/context.md
Due: prettier, markdownlint, yamllint, lychee

Maybe fix GH Pages
  assets/css/style.scss
  assets/css/theme.css
  bundle.txt
Due: none

Maybe fix GH Pages
  bundle.txt
Due: none

Maybe Fix GitHub Pages (#140)
  assets/css/style.scss
  assets/css/theme.css
Due: none

Fix WInLineEditorOdinDrawer error log
  .llm/skills/validation-troubleshooting.md
  Editor/CustomDrawers/Odin/WInLineEditorOdinDrawer.cs
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, lychee

Update CHANGELOG
  CHANGELOG.md
Due: prettier, markdownlint, lychee

Run prettier
  CHANGELOG.md
Due: prettier, markdownlint, lychee

Update .llm/skills/validation-troubleshooting.md
  .llm/skills/validation-troubleshooting.md
Due: prettier, markdownlint, lychee

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier, markdownlint, lychee
