Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
  language: system
  description: Use the repo's Prettier version from package.json.
  require_serial: true

markdownlint:
  name: markdownlint (respect repo config)
  entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
  language: system
  require_serial: true

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

Update docs
  AGENTS.md
  Runtime/Core/Attributes/BaseRelationalComponentAttribute.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/ParentComponentAttribute.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConcaveHullLineDivision.cs
  Runtime/Core/Helper/ReflectionHelpers.Factory.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
Due: prettier, markdownlint

Add more buffer tests
  Docs/features/logging/unity-main-thread-dispatcher.md
  Docs/features/utilities/singletons.md
  Docs/overview/index.md
  Docs/performance/relational-components-performance.md
  Runtime/Core/Attributes/RelationalComponentAssigner.cs
  Runtime/Core/Helper/ReflectionHelpers.cs
  Runtime/Utils/Buffers.cs
  Tests/Core/CommonTestBase.cs
  Tests/Editor/Utils/SingletonAssetPollutionPreventionTests.cs
  Tests/Runtime/Utils/BuffersWaitInstructionTests.cs
Due: prettier, markdownlint

Mostly fix drawers, some documentation
  .devcontainer/devcontainer.json
  .gitignore
  CHANGELOG.md
  Docs/features/editor-tools/asset-change-detection.md
  Docs/features/editor-tools/asset-change-detection.md.meta
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/features/effects/effects-system.md
  Docs/features/inspector/inspector-button.md
  Docs/features/inspector/inspector-selection-attributes.md
  Docs/features/inspector/visual-components.md
  Docs/features/inspector/w-enum-toggle-buttons.md
  Docs/features/inspector/w-group.md
  Docs/features/logging/unity-main-thread-dispatcher.md
  Docs/features/serialization/serialization-types.md
  Docs/images/serialization/wguid-inspector-generate.gif
  Docs/images/serialization/wguid-inspector-generate.gif.meta
  Docs/images/serialization/wguid-inspector-not-v4.png
  Docs/images/serialization/wguid-inspector-not-v4.png.meta
  Docs/images/serialization/wguid-inspector-obviously-invalid.png
  Docs/images/serialization/wguid-inspector-obviously-invalid.png.meta
  Docs/images/serialization/wguid-inspector.png
  Docs/images/serialization/wguid-inspector.png.meta
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  TestFailures.txt.meta
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
Due: prettier, markdownlint

Test + Prod fixes for Serializable Set / Dictionary drawers
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
Due: none

Latest tooling
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
  package.json
Due: prettier, yamllint

More pre-checkin guards
  .github/workflows/csharp-naming-lint.yml
  .github/workflows/csharp-no-regions-lint.yml
  .pre-commit-config.yaml
  package.json
  scripts/lint-csharp-naming.ps1
  scripts/lint-no-regions.ps1
Due: prettier, yamllint

Fixes for Unity Helper Settings rendering
  Docs/features/inspector/inspector-button.md
  Docs/images/inspector/buttons/add-color-themes.gif
  Docs/images/inspector/buttons/add-color-themes.gif.meta
  Docs/images/inspector/buttons/inspector-button-groups.png
  Docs/images/inspector/buttons/inspector-button-groups.png.meta
  Docs/images/inspector/buttons/inspector-button-settings-colors.png
  Docs/images/inspector/buttons/inspector-button-settings-colors.png.meta
  Editor/Settings/UnityHelpersSettings.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  scripts/lint-csharp-naming.ps1.meta
  scripts/lint-no-regions.ps1.meta
Due: prettier, markdownlint

Button/Group fixes
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  LLM_INSTRUCTIONS.md
  Tests/Editor/WGroup/WGroupAutoIncludeTestTarget.cs
  Tests/Editor/WGroup/WGroupDisplayNameTestTarget.cs
  Tests/Editor/WGroup/WGroupDisplayNameTestTarget.cs.meta
  Tests/Editor/WGroup/WGroupExplicitAutoIncludeTestTarget.cs
  Tests/Editor/WGroup/WGroupExplicitAutoIncludeTestTarget.cs.meta
  Tests/Editor/WGroup/WGroupInfiniteAutoIncludeTestTarget.cs
  Tests/Editor/WGroup/WGroupInfiniteAutoIncludeTestTarget.cs.meta
  Tests/Editor/WGroup/WGroupLayoutTests.cs
  Tests/Editor/WGroup/WGroupZeroAutoIncludeTestTarget.cs
  Tests/Editor/WGroup/WGroupZeroAutoIncludeTestTarget.cs.meta
Due: prettier, markdownlint

Documentation updates
  Docs/features/inspector/inspector-button.md
  Docs/images/inspector/buttons/async-buttons-with-cancellation.gif
  Docs/images/inspector/buttons/async-buttons-with-cancellation.gif.meta
  Docs/images/inspector/buttons/enumerator-fade.gif
  Docs/images/inspector/buttons/enumerator-fade.gif.meta
  Docs/images/inspector/buttons/history-dice-rolls-2.png
  Docs/images/inspector/buttons/history-dice-rolls-2.png.meta
  Docs/images/inspector/buttons/inspector-button-complete-example.png
  Docs/images/inspector/buttons/inspector-button-complete-example.png.meta
  Docs/images/inspector/buttons/roll-dice-more-history.gif
  Docs/images/inspector/buttons/roll-dice-more-history.gif.meta
  Tests/Editor/WGroup/WGroupLayoutTests.cs
Due: prettier, markdownlint

Fix WButton declaration order
  Editor/Utils/WButton/WButtonMetadataCache.cs
  Tests/Editor/TestTypes/WButtonAlphabeticalTrapTarget.cs
  Tests/Editor/TestTypes/WButtonAlphabeticalTrapTarget.cs.meta
  Tests/Editor/TestTypes/WButtonEmptyDisplayNameTarget.cs
  Tests/Editor/TestTypes/WButtonEmptyDisplayNameTarget.cs.meta
  Tests/Editor/TestTypes/WButtonGroupedReverseAlphabeticalMethodsTarget.cs
  Tests/Editor/TestTypes/WButtonGroupedReverseAlphabeticalMethodsTarget.cs.meta
  Tests/Editor/TestTypes/WButtonLargeDeclarationOrderTarget.cs
  Tests/Editor/TestTypes/WButtonLargeDeclarationOrderTarget.cs.meta
  Tests/Editor/TestTypes/WButtonMixedCaseNamesTarget.cs
  Tests/Editor/TestTypes/WButtonMixedCaseNamesTarget.cs.meta
  Tests/Editor/TestTypes/WButtonMultipleDrawOrdersWithDeclarationOrderTarget.cs
  Tests/Editor/TestTypes/WButtonMultipleDrawOrdersWithDeclarationOrderTarget.cs.meta
  Tests/Editor/TestTypes/WButtonNumericPrefixNamesTarget.cs
  Tests/Editor/TestTypes/WButtonNumericPrefixNamesTarget.cs.meta
  Tests/Editor/TestTypes/WButtonSameDisplayNameDifferentMethodsTarget.cs
  Tests/Editor/TestTypes/WButtonSameDisplayNameDifferentMethodsTarget.cs.meta
  Tests/Editor/TestTypes/WButtonSingleButtonTarget.cs
  Tests/Editor/TestTypes/WButtonSingleButtonTarget.cs.meta
  Tests/Editor/TestTypes/WButtonSpecialCharactersTarget.cs
  Tests/Editor/TestTypes/WButtonSpecialCharactersTarget.cs.meta
  Tests/Editor/WButton/WButtonDeclarationOrderTests.cs
  Tests/Editor/WButton/WButtonDeclarationOrderTests.cs.meta
  Tests/Editor/WButton/WButtonDrawOrderTests.cs
Due: none

Mostly finish button documentation
  Docs/features/inspector/inspector-button.md
  Docs/images/inspector/buttons/animation-tester-coroutines.gif
  Docs/images/inspector/buttons/button-colorings.png
  Docs/images/inspector/buttons/button-colorings.png.meta
  Docs/images/inspector/buttons/button-group-foldout.gif
  Docs/images/inspector/buttons/button-group-foldout.gif.meta
  Docs/images/inspector/buttons/button-groupings.png
  Docs/images/inspector/buttons/button-groupings.png.meta
  Docs/images/inspector/buttons/button-order.png
  Docs/images/inspector/buttons/button-order.png.meta
  Docs/images/inspector/buttons/button-pagination.gif
  Docs/images/inspector/buttons/button-pagination.gif.meta
  Docs/images/inspector/buttons/data-manager-loading.gif
  Docs/images/inspector/buttons/data-manager-loading.gif.meta
  Docs/images/inspector/buttons/helper-button-settings.png
  Docs/images/inspector/buttons/helper-button-settings.png.meta
  Docs/images/inspector/buttons/helper-settings-color-settings.png
  Docs/images/inspector/buttons/helper-settings-color-settings.png.meta
  Docs/images/inspector/buttons/id-history.png
  Docs/images/inspector/buttons/id-history.png.meta
  Docs/images/inspector/buttons/level-generator-with-parameters.png
  Docs/images/inspector/buttons/level-generator-with-parameters.png.meta
  Docs/images/inspector/buttons/player-debug.png
  Docs/images/inspector/buttons/player-debug.png.meta
Due: prettier, markdownlint

More doc progress
  Docs/features/inspector/inspector-conditional-display.md
  Docs/images/inspector/buttons/animation-tester-coroutines.gif.meta
  Docs/images/inspector/conditional.meta
  Docs/images/inspector/conditional/basic-conditional-usage.gif
  Docs/images/inspector/conditional/basic-conditional-usage.gif.meta
  Docs/images/inspector/conditional/null-checks.gif
  Docs/images/inspector/conditional/player-level-filter.gif
  Docs/images/inspector/conditional/player-level-filter.gif.meta
  Docs/images/inspector/conditional/slightly-advanced-conditional-usage.gif
  Docs/images/inspector/conditional/slightly-advanced-conditional-usage.gif.meta
Due: prettier, markdownlint

Update LLM context
  .llm/context.md
Due: prettier, markdownlint

Many updates
  .gitignore
  .llm/context.md
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/Tools/UnityMethodAnalyzer/AnalyzerModels.cs
  Editor/Tools/UnityMethodAnalyzer/IssueTreeView.cs
  Editor/Tools/UnityMethodAnalyzer/MethodAnalyzer.cs
  Editor/Tools/UnityMethodAnalyzer/UnityMethodAnalyzerWindow.cs
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WButton/WButtonParameterDrawer.cs
  Tests/Core/SuppressAnalyzerAttribute.cs
  Tests/Core/SuppressAnalyzerAttribute.cs.meta
  Tests/Editor/Tools/MethodAnalyzerTests.cs
  Tests/Editor/Tools/MethodAnalyzerTests.cs.meta
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/WButton/WButtonDrawOrderTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: prettier, markdownlint

Update editorconfig
  .editorconfig
Due: none

Better Unity Method Analyzer
  Editor/CustomDrawers/Base/WDropdownPopupSelectorBase.cs
  Editor/CustomDrawers/Base/WDropdownSelectorBase.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Tools/UnityMethodAnalyzer/AnalyzerModels.cs
  Editor/Tools/UnityMethodAnalyzer/IssueTreeView.cs
  Editor/Tools/UnityMethodAnalyzer/MethodAnalyzer.cs
  Editor/Tools/UnityMethodAnalyzer/UnityMethodAnalyzerWindow.cs
  Runtime/Core/Serialization/Serializer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/Tools/MethodAnalyzerTests.cs
Due: none

Documentation updates
  CHANGELOG.md
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/features/editor-tools/unity-method-analyzer.md
  Docs/features/editor-tools/unity-method-analyzer.md.meta
  Docs/features/inspector/inspector-button.md
  Docs/images/editor-tools.meta
  Docs/images/editor-tools/unity-method-analyzer.meta
  Docs/images/editor-tools/unity-method-analyzer/README.md
  Docs/images/editor-tools/unity-method-analyzer/README.md.meta
  Docs/images/inspector/buttons/README.md
  Docs/images/inspector/buttons/README.md.meta
Due: prettier, markdownlint

Fix many tests
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Tools/UnityMethodAnalyzer/MethodAnalyzer.cs
  Editor/Utils/WButton/WButtonGUI.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  Tests/Editor/TestTypes/WButtonCrossPlacementConflictReverseTarget.cs
  Tests/Editor/TestTypes/WButtonCrossPlacementConflictTarget.cs
  Tests/Editor/TestTypes/WButtonDrawOrderTestTarget.cs
  Tests/Editor/TestTypes/WButtonMixedDrawOrderAndGroupsTarget.cs
  Tests/Editor/Tools/MethodAnalyzerTests.cs
  Tests/Editor/WButton/WButtonConflictingDrawOrderTests.cs
  Tests/Editor/WButton/WButtonDrawOrderTests.cs
  Tests/Editor/WButton/WButtonGuiHeaderTests.cs
Due: none

Finish asset change detection
  Docs/features/editor-tools/asset-change-detection.md
  Docs/images/editor-tools/asset-change-detection-flow.gif.meta
Due: prettier, markdownlint

Fixes for the MethodAnalyzer
  .llm/context.md
  Editor/Tools/UnityMethodAnalyzer/MethodAnalyzer.cs
  Editor/Tools/UnityMethodAnalyzer/UnityMethodAnalyzerWindow.cs
  Runtime/Tags/CollisionSenses.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Utils/CircleLineRenderer.cs
  Runtime/Utils/PolygonCollider2DOptimizer.cs
  Tests/Editor/AssetProcessors/DetectAssetChangePrefabAndSceneTests.cs
  Tests/Editor/Sprites/TextureSettingsApplierWizardAdditionalTests.cs
  Tests/Editor/TestTypes/RelationalConsumer.cs
  Tests/Editor/Tools/UnityMethodAnalyzerWindowTests.cs
  Tests/Editor/Windows/PrefabCheckerTests.cs
  Tests/Runtime/TestDoubles/AssetProcessors.meta
  Tests/Runtime/TestDoubles/AssetProcessors/ITestDetectableContract.cs
  Tests/Runtime/TestDoubles/AssetProcessors/ITestDetectableContract.cs.meta
  Tests/Runtime/TestDoubles/AssetProcessors/TestCombinedSearchHandler.cs
  Tests/Runtime/TestDoubles/AssetProcessors/TestCombinedSearchHandler.cs.meta
  Tests/Runtime/TestDoubles/AssetProcessors/TestDetectableAsset.cs
  Tests/Runtime/TestDoubles/AssetProcessors/TestDetectableAsset.cs.meta
  Tests/Runtime/TestDoubles/AssetProcessors/TestNestedPrefabHandler.cs
  Tests/Runtime/TestDoubles/AssetProcessors/TestNestedPrefabHandler.cs.meta
  Tests/Runtime/TestDoubles/AssetProcessors/TestPrefabAssetChangeHandler.cs
  Tests/Runtime/TestDoubles/AssetProcessors/TestPrefabAssetChangeHandler.cs.meta
  Tests/Runtime/TestDoubles/AssetProcessors/TestSceneAssetChangeHandler.cs
  Tests/Runtime/TestDoubles/AssetProcessors/TestSceneAssetChangeHandler.cs.meta
Due: prettier, markdownlint

More documentation
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/features/editor-tools/unity-method-analyzer.md
  Docs/features/effects/effects-system-tutorial.md
  Docs/features/effects/effects-system.md
  Docs/features/inspector/inspector-button.md
  Docs/features/inspector/inspector-grouping-attributes.md
  Docs/features/inspector/inspector-selection-attributes.md
  Docs/features/inspector/inspector-settings.md
  Docs/features/inspector/w-enum-toggle-buttons.md
  Docs/images/editor-tools/animation-creator-auto-parse.gif.meta
  Docs/images/editor-tools/project-settings-unity-helpers.png.meta
  Docs/images/editor-tools/request-recompilation-shortcut.png.meta
  Docs/images/editor-tools/request-recompilation.png.meta
  Docs/images/editor-tools/sprite-sheet-creator-select.gif.meta
  Docs/images/editor-tools/unity-method-analyzer/README.md
  Docs/images/inspector/buttons/inspector-button-advanced-layout.png
  Docs/images/inspector/buttons/inspector-button-advanced-layout.png.meta
  Docs/images/inspector/buttons/inspector-button-group-placement.png
  Docs/images/inspector/buttons/inspector-button-group-placement.png.meta
  Docs/images/inspector/buttons/inspector-button-group-priority.png
  Docs/images/inspector/buttons/inspector-button-group-priority.png.meta
  Docs/images/inspector/selection.meta
  Docs/images/inspector/selection/README.md
  Docs/images/inspector/selection/README.md.meta
Due: prettier, markdownlint

Dictionary Height fixes
  Docs/features/serialization/serialization-types.md
  Docs/images/serialization/custom-type-filtering.gif
  Docs/images/serialization/custom-type-filtering.gif.meta
  Docs/images/serialization/serializable-hashset-validation.png
  Docs/images/serialization/serializable-hashset-validation.png.meta
  Docs/images/serialization/serializable-nullable-type-and-clear.gif
  Docs/images/serialization/serializable-nullable-type-and-clear.gif.meta
  Docs/images/serialization/serializable-type-inspector.gif
  Docs/images/serialization/serializable-type-inspector.gif.meta
  Docs/images/serialization/set-duplicates.gif
  Docs/images/serialization/set-duplicates.gif.meta
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Tests/Editor/CustomDrawers/SerializableCollectionPaginationHeightTests.cs
  Tests/Editor/CustomDrawers/SerializableCollectionPaginationHeightTests.cs.meta
  Tests/Editor/CustomDrawers/SerializableSetAnimationTests.cs
  Tests/Editor/CustomDrawers/SerializableSetAnimationTests.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/ComplexDictionaryPageTestHost.cs
  Tests/Editor/CustomDrawers/TestTypes/ComplexDictionaryPageTestHost.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/ComplexSetPageTestHost.cs
  Tests/Editor/CustomDrawers/TestTypes/ComplexSetPageTestHost.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/DictionaryPageTestHost.cs
  Tests/Editor/CustomDrawers/TestTypes/DictionaryPageTestHost.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/SetPageTestHost.cs
  Tests/Editor/CustomDrawers/TestTypes/SetPageTestHost.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/WValueDropDownCustomStructAsset.cs
  Tests/Editor/CustomDrawers/TestTypes/WValueDropDownCustomStructAsset.cs.meta
  Tests/Editor/CustomDrawers/TestTypes/WValueDropDownSerializableTypeAsset.cs
  Tests/Editor/CustomDrawers/TestTypes/WValueDropDownSerializableTypeAsset.cs.meta
  Tests/Editor/CustomDrawers/WValueDropDownSerializableTypeTests.cs
  Tests/Editor/CustomDrawers/WValueDropDownSerializableTypeTests.cs.meta
Due: prettier, markdownlint

Format region file
  Tests/Editor/Utils/WGroupColorScopeTests.cs
Due: none

pre-commit test 2
  Tests/Editor/Utils/WGroupColorScopeTests.cs
Due: none

Pre-commit test 3
  Tests/Editor/Utils/WGroupColorScopeTests.cs
  scripts/lint-csharp-naming.ps1
Due: none

Update linters
  scripts/lint-csharp-naming.ps1
  scripts/lint-no-regions.ps1
Due: none

PropertyDrawer performance
  Editor/CustomDrawers/Base/WDropDownPopupSelectorBase.cs
  Editor/CustomDrawers/IntDropDownDrawer.cs
  Editor/CustomDrawers/SolidButtonStyles.cs
  Editor/CustomDrawers/WDropDownPopupWindow.cs
  Editor/CustomDrawers/WGuidPropertyDrawer.cs
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
Due: none

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
