Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref)
  entry: npx --yes prettier --write
  language: system
  description: Use the repo's Prettier version from package.json.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint --config .markdownlint.json --ignore-path .markdownlintignore
  language: system

update workflow files (#69)
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
Due: none

Formatting
  .github/workflows/format-on-demand.yml
  .github/workflows/markdown-json.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
Due: none

Formatting (#72)
  .github/workflows/format-on-demand.yml
  .github/workflows/markdown-json.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
Due: none

Documentation updates
  HELPER_UTILITIES.md
  HELPER_UTILITIES.md.meta
  INDEX.md
  MATH_AND_EXTENSIONS.md
  UTILITY_COMPONENTS.md
  UTILITY_COMPONENTS.md.meta
  VISUAL_COMPONENTS.md
  VISUAL_COMPONENTS.md.meta
Due: prettier, markdownlint

More effect system documentation
  Docs/EFFECTS_SYSTEM.md
  README.md
Due: prettier, markdownlint

Minor effect system text updates
  Docs/EFFECTS_SYSTEM.md
Due: prettier, markdownlint

More effect system documentation (#74)
  Docs/EFFECTS_SYSTEM.md
  README.md
Due: prettier, markdownlint

Update Reflex docs
  Samples~/DI - Reflex/README.md
Due: prettier, markdownlint

Update version
  package.json
Due: prettier

Better Task/ValueTask generic support for coroutines
  Runtime/Core/Extension/AsyncOperationExtensions.cs
  Tests/Runtime/Extensions/AsyncOperationExtensionsTests.cs
  Tests/Runtime/Extensions/RandomExtensionTests.cs
Due: none

Fix minor log tag performance bug
  Runtime/Core/Helper/Logging/UnityLogTagFormatter.cs
  Tests/Runtime/Extensions/UnityLogTagFormatterEdgeTests.cs
  package.json
Due: prettier

Fix minor log tag performance bug (#76)
  Runtime/Core/Helper/Logging/UnityLogTagFormatter.cs
  Tests/Runtime/Extensions/UnityLogTagFormatterEdgeTests.cs
  package.json
Due: prettier

Fix error in AttributeComponent
  Runtime/Tags/AttributesComponent.cs
  package.json
Due: prettier

Fix error in AttributeComponent (#77)
  Runtime/Tags/AttributesComponent.cs
  package.json
Due: prettier

Usability fixes for AttributeEffects
  Runtime/Core/Helper/UnityMainThreadDispatcher.cs
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Tags/TagHandler.cs
  Tests/Runtime/Tags/AttributeUtilitiesTests.cs
  Tests/Runtime/Tags/CosmeticAndCollisionTests.cs
  Tests/Runtime/Tags/EffectHandlerTests.cs
  Tests/Runtime/Tags/TagHandlerTests.cs
Due: none

Test fixes
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/TagHandler.cs
  Tests/Runtime/Tags/AttributeUtilitiesTests.cs
Due: none

Better docs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Tags/TagHandler.cs
  Tests/Runtime/Tags/AttributeUtilitiesTests.cs
  Tests/Runtime/Tags/TagHandlerTests.cs
Due: none

Improvements
  package.json
Due: prettier

AttributeEffect + Tag API Improvements (#78)
  Runtime/Core/Helper/UnityMainThreadDispatcher.cs
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Tags/TagHandler.cs
  Tests/Runtime/Tags/AttributeUtilitiesTests.cs
  Tests/Runtime/Tags/CosmeticAndCollisionTests.cs
  Tests/Runtime/Tags/EffectHandlerTests.cs
  Tests/Runtime/Tags/TagHandlerTests.cs
  package.json
Due: prettier

Update API docs
  Docs/EFFECTS_SYSTEM.md
  Docs/RELATIONAL_COMPONENTS.md
Due: prettier, markdownlint

Reflex augmentation
  README.md
Due: prettier, markdownlint

Updated Tag/Relational Component Docs (#79)
  Docs/EFFECTS_SYSTEM.md
  Docs/RELATIONAL_COMPONENTS.md
  README.md
Due: prettier, markdownlint

Many updates
  .gitignore
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Tags/Attribute.cs
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/EffectHandle.cs
  Tests/Editor/Attributes/WShowIfPropertyDrawerTests.cs
  Tests/Editor/Attributes/WShowIfPropertyDrawerTests.cs.meta
  Tests/Runtime/Tags/AttributeDataTests.cs
  node_modules.meta
Due: none

Updated Tag capabilities
  Docs/EFFECTS_SYSTEM.md
  Docs/EFFECTS_SYSTEM_TUTORIAL.md
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/EffectBehavior.cs
  Runtime/Tags/EffectBehavior.cs.meta
  Runtime/Tags/EffectHandler.cs
  Runtime/Tags/EffectStackKey.cs
  Runtime/Tags/EffectStackKey.cs.meta
  Runtime/Tags/PeriodicEffectDefinition.cs
  Runtime/Tags/PeriodicEffectDefinition.cs.meta
  Runtime/Tags/PeriodicEffectRuntimeState.cs
  Runtime/Tags/PeriodicEffectRuntimeState.cs.meta
  Tests/Editor/Attributes/WShowIfPropertyDrawerTests.cs
  Tests/Editor/Core/Attributes/RelationalComponentAssignerTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
  Tests/Runtime/Tags/EffectHandlerTests.cs
  Tests/Runtime/Tags/Helpers/RecordingEffectBehavior.cs
  Tests/Runtime/Tags/Helpers/RecordingEffectBehavior.cs.meta
Due: prettier, markdownlint

Update tests and runtime with new tag concepts
  Docs/DATA_STRUCTURES.md
  Docs/HULLS.md
  Docs/RANDOM_PERFORMANCE.md
  Docs/REFLECTION_HELPERS.md
  Docs/RELATIONAL_COMPONENTS.md
  Docs/SERIALIZATION.md
  Docs/SINGLETONS.md
  Docs/SPATIAL_TREES_2D_GUIDE.md
  Docs/SPATIAL_TREES_3D_GUIDE.md
  Docs/SPATIAL_TREE_SEMANTICS.md
  Runtime/Tags/Attribute.cs
  Runtime/Tags/AttributeModification.cs
  Runtime/Tags/AttributesComponent.cs
  Runtime/Tags/EffectBehavior.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Tags/EffectStackKey.cs
  Runtime/Tags/PeriodicEffectRuntimeState.cs
  Samples~/DI - Zenject/README.md
  Tests/Runtime/Tags/EffectHandlerTests.cs
  Tests/Runtime/Tags/Helpers/RecordingEffectBehavior.cs
  scripts/lint-doc-links.ps1
Due: prettier, markdownlint

Refactor runtime and tests
  Runtime/Tags/Attribute.cs
  Runtime/Tags/AttributeModification.cs
  Tests/Runtime/Serialization/JsonSerializationTest.cs
  Tests/Runtime/Tags/AttributeDataTests.cs
  Tests/Runtime/Tags/AttributeEffectTests.cs
  Tests/Runtime/Tags/AttributeEffectTests.cs.meta
  Tests/Runtime/Tags/AttributeModificationTests.cs
  Tests/Runtime/Tags/AttributeModificationTests.cs.meta
  Tests/Runtime/Tags/AttributeTests.cs
  Tests/Runtime/Tags/AttributeTests.cs.meta
Due: none

Bump minor version
  package.json
Due: prettier

Remove BOM
  Tests/Runtime/Tags/AttributeEffectTests.cs
  Tests/Runtime/Tags/AttributeEffectTests.cs.meta
  Tests/Runtime/Tags/AttributeTests.cs
  Tests/Runtime/Tags/AttributeTests.cs.meta
Due: none

Add explicit ordering tests
  Tests/Runtime/Tags/AttributeModificationTests.cs
Due: none

Update EFFECTS_SYSTEM
  Docs/EFFECTS_SYSTEM.md
  Docs/EFFECTS_SYSTEM_TUTORIAL.md
Due: prettier, markdownlint

Updated documentation
  Runtime/Tags/EffectBehavior.cs
  Runtime/Tags/PeriodicEffectDefinition.cs
Due: none

Add periodic tests
  Tests/Runtime/Tags/EffectBehaviorTests.cs
  Tests/Runtime/Tags/EffectBehaviorTests.cs.meta
  Tests/Runtime/Tags/Helpers/RecordingEffectBehavior.cs
  Tests/Runtime/Tags/PeriodicEffectDefinitionSerializationTests.cs
  Tests/Runtime/Tags/PeriodicEffectDefinitionSerializationTests.cs.meta
Due: none

Deterministic AttributeMetadataCache population
  Editor/Core/Helper/AnimationEventHelpers.cs
  Runtime/Tags/AttributeMetadataCache.cs
  Tests/Editor/Tags.meta
  Tests/Editor/Tags/AttributeMetadataCacheTests.cs
  Tests/Editor/Tags/AttributeMetadataCacheTests.cs.meta
  Tests/Runtime/Helper/ObjectsTests.cs
  Tests/Runtime/Serialization/ProtoInterfaceResolutionEdgeTests.cs
  Tests/Runtime/Serialization/ProtoRootRegistrationTests.cs
  Tests/Runtime/Serialization/ProtoSerializeBehaviorTests.cs
Due: none

More random implementations
  Docs/INDEX.md
  Docs/RANDOM_PERFORMANCE.md
  README.md
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Core/Random/DotNetRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs.meta
  Runtime/Core/Random/IllusionFlow.cs
  Runtime/Core/Random/LinearCongruentialGenerator.cs
  Runtime/Core/Random/PcgRandom.cs
  Runtime/Core/Random/PhotonSpinRandom.cs
  Runtime/Core/Random/PhotonSpinRandom.cs.meta
  Runtime/Core/Random/RomuDuo.cs
  Runtime/Core/Random/SplitMix64.cs
  Runtime/Core/Random/SquirrelRandom.cs
  Runtime/Core/Random/UnityRandom.cs
  Runtime/Core/Random/WyRandom.cs
  Runtime/Core/Random/XorShiftRandom.cs
  Runtime/Core/Random/XoroShiroRandom.cs
  Tests/Runtime/Performance/RandomPerformanceTests.cs
  Tests/Runtime/Random/FlurryBurstRandomTests.cs
  Tests/Runtime/Random/FlurryBurstRandomTests.cs.meta
  Tests/Runtime/Random/PhotonSpinRandomTests.cs
  Tests/Runtime/Random/PhotonSpinRandomTests.cs.meta
  Tests/Runtime/Random/RandomProtoSerializationTests.cs
Due: prettier, markdownlint

StormDropRandom impl
  Docs/INDEX.md
  Docs/RANDOM_PERFORMANCE.md
  README.md
  Runtime/Core/Helper/UnityMainThreadDispatcher.cs
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/PhotonSpinRandom.cs
  Runtime/Core/Random/StormDropRandom.cs
  Runtime/Core/Random/StormDropRandom.cs.meta
  Tests/Editor/Tags/AttributeMetadataCacheTests.cs
  Tests/Runtime/Extensions/IListExtensionTests.cs
  Tests/Runtime/Integrations/Reflex/RelationalComponentsReflexTests.cs
  Tests/Runtime/Performance/RandomPerformanceTests.cs
  Tests/Runtime/Random/RandomProtoSerializationTests.cs
  Tests/Runtime/Random/StormDropRandomTests.cs
  Tests/Runtime/Random/StormDropRandomTests.cs.meta
  Tests/Runtime/Tags/PeriodicEffectDefinitionSerializationTests.cs
Due: prettier, markdownlint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref)$
  markdownlint: any of: (?i)\.(md|markdown)$
