Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-banner-version
        name: Sync banner version from package.json
        entry: pwsh -NoProfile -File scripts/sync-banner-version.ps1
        language: system
        always_run: true
        pass_filenames: false
        require_serial: true
        description: Updates the version in the SVG banner when package.json version changes.
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores. Auto-renames when run locally.
      - id: csharp-no-regions
        name: "Lint C# files for #region directives"
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly -Fix
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: "Prevent #region directives from being checked in. Auto-removes when run locally."
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'
      - id: lychee
        name: Check markdown links (lychee)
        entry: pwsh -NoProfile -File scripts/lint-staged-links.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        pass_filenames: false
        require_serial: true
        description: Check for broken links in staged markdown files using lychee.

GitHook failure fixes
  .devcontainer/post-create.sh
  .llm/context.md
  .llm/skills/git-safe-operations.md
  .llm/skills/ship-changes.md
  docs/project/contributing.md
  package.json
  scripts/agent-preflight.ps1
  scripts/configure-git-defaults.ps1
  scripts/configure-git-defaults.ps1.meta
  scripts/configure-git-defaults.sh
  scripts/configure-git-defaults.sh.meta
  scripts/install-hooks.ps1
  scripts/install-hooks.sh
  scripts/tests/test-agent-preflight.ps1
  scripts/validate-git-push-config.ps1
  scripts/validate-git-push-config.ps1.meta
Due: prettier, markdownlint, lychee

GitHook failures
  .githooks/pre-push
  .github/workflows/spelling-check.yml
  .github/workflows/validate-hooks.yml
  .llm/skills/asset-postprocessor-safety.md
  .llm/skills/create-csharp-file.md
  .llm/skills/create-test.md
  .llm/skills/formatting.md
  .llm/skills/ship-changes.md
  .llm/skills/validate-before-commit.md
  Editor/AssetProcessors/AssetPostprocessorDeferral.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Utils/Buffers.cs
  Tests/Editor/AssetProcessors/AssetPostprocessorDeferralTests.cs
  cspell.json
  package.json
  scripts/add-cspell-word.js
  scripts/add-cspell-word.js.meta
  scripts/postinstall-hooks.js
  scripts/postinstall-hooks.js.meta
  scripts/tests/test-hook-spell-parity.sh
  scripts/tests/test-hook-spell-parity.sh.meta
  scripts/tests/test-post-create.sh
Due: prettier, markdownlint, yamllint, lychee

PR feedback
  .llm/skills/bash-pwsh-invocation.md
  .llm/skills/git-hook-syntax-portability.md
  cspell.json
  package.json
  scripts/agent-preflight.ps1
  scripts/configure-git-defaults.ps1
  scripts/git-path-helpers.ps1
  scripts/git-path-helpers.ps1.meta
  scripts/git-push-defaults-helpers.ps1
  scripts/git-push-defaults-helpers.ps1.meta
  scripts/install-hooks.ps1
  scripts/lint-doc-counts.ps1
  scripts/lint-llm-instructions.ps1
  scripts/lint-pwsh-invocations.ps1
  scripts/lint-skill-sizes.ps1
  scripts/postinstall-hooks.js
  scripts/sync-doc-counts.ps1
  scripts/tests/test-agent-preflight.ps1
  scripts/tests/test-git-path-helpers.ps1
  scripts/tests/test-git-path-helpers.ps1.meta
  scripts/tests/test-lint-pwsh-invocations.ps1
  scripts/tests/test-lint-skill-sizes.ps1
  scripts/tests/test-postinstall-hooks.js
  scripts/tests/test-postinstall-hooks.js.meta
  scripts/validate-git-push-config.ps1
Due: prettier, markdownlint, lychee

Fix git
  .gitignore
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
  package.json
  scripts/hooks.meta
  scripts/hooks/cspell-post-edit.js
  scripts/hooks/cspell-post-edit.js.meta
  scripts/tests/test-cspell-hook-files-parity.sh
  scripts/tests/test-cspell-hook-files-parity.sh.meta
Due: prettier, markdownlint, lychee

claude settings
  .claude/settings.json
  .gitignore
Due: prettier

script fixes
  .claude/.gitkeep
  .github/workflows/csharp-naming-lint.yml
  .github/workflows/drawer-multiobject-lint.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/odin-undo-safety-lint.yml
  .github/workflows/test-lint.yml
  .llm/skills/linter-reference.md
  cspell.json
  scripts/comment-stripping.ps1
  scripts/comment-stripping.ps1.meta
  scripts/lint-csharp-naming.ps1
  scripts/lint-doc-links.ps1
  scripts/lint-drawer-multiobject.ps1
  scripts/lint-odin-undo-safety.ps1
  scripts/lint-pwsh-invocations.ps1
  scripts/lint-tests.ps1
  scripts/tests/test-comment-stripping.ps1
  scripts/tests/test-comment-stripping.ps1.meta
  scripts/tests/test-lint-csharp-naming.ps1
  scripts/tests/test-lint-doc-links.ps1
  scripts/tests/test-lint-doc-links.ps1.meta
  scripts/tests/test-lint-tests.ps1
Due: prettier, markdownlint, yamllint, lychee

Add missing meta file
  scripts/tests/test-lint-csharp-naming.ps1.meta
Due: none

PR feedback
  .github/workflows/lint-doc-links.yml
  README.md
  Runtime/Core/Random/UnityRandom.cs
  Runtime/Core/Random/XorShiftRandom.cs
  Samples~/DI - Zenject/README.md
  docs/features/serialization/serialization.md
  docs/guides/unity-devcontainer-licensing.md
  docs/performance/random-performance.md
  docs/project/third-party-notices.md
  docs/readme.md
  package.json
  scripts/tests/test-deprecated-external-links.ps1
  scripts/tests/test-deprecated-external-links.ps1.meta
Due: prettier, markdownlint, yamllint, lychee

Fix CI
  scripts/tests/test-deprecated-external-links.ps1
Due: none

PR feedback
  .github/workflows/spelling-check.yml
  .github/workflows/validate-hooks.yml
  .llm/context.md
  .llm/skills/git-hook-syntax-portability.md
  Editor/AssetProcessors/LlmArtifactCleaner.cs
  Editor/AssetProcessors/SpriteLabelProcessor.cs
  Tests/Editor/AssetProcessors/LlmArtifactCleanerTests.cs
  Tests/Editor/AssetProcessors/SpriteLabelProcessorTests.cs
  Tests/Editor/AssetProcessors/SpriteLabelProcessorTests.cs.meta
  cspell.json
  package.json
  scripts/add-cspell-word.js
  scripts/check-eol.ps1
  scripts/configure-git-defaults.sh
  scripts/lint-doc-links.ps1
  scripts/lint-meta-files.ps1
  scripts/normalize-eol.ps1
  scripts/tests/test-add-cspell-word.js
  scripts/tests/test-add-cspell-word.js.meta
  scripts/tests/test-configure-git-defaults.sh
  scripts/tests/test-configure-git-defaults.sh.meta
  scripts/tests/test-lint-doc-links.ps1
  scripts/tests/test-post-create.sh
  scripts/tests/test-postinstall-hooks.js
  scripts/tests/test-validate-git-push-config.ps1
  scripts/tests/test-validate-git-push-config.ps1.meta
  scripts/validate-formatting.sh
  scripts/validate-git-push-config.ps1
  scripts/validate-hook-permissions.sh
Due: prettier, markdownlint, yamllint, lychee

Fix tests
  Tests/Editor/AssetProcessors/SpriteLabelProcessorTests.cs
Due: none

Test failure fixes
  scripts/tests/test-configure-git-defaults.sh
  scripts/tests/test-lint-meta-exclusions.sh
  scripts/tests/test-validate-git-push-config.ps1
Due: none

PR feedback
  .llm/skills/asset-postprocessor-safety.md
  .llm/skills/git-hook-lifecycle-debugging.md
  Editor/AssetProcessors/AssetPostprocessorDeferral.cs
  Tests/Editor/AssetProcessors/AssetPostprocessorDeferralTests.cs
  scripts/install-hooks.ps1
  scripts/install-hooks.sh
  scripts/postinstall-hooks.js
  scripts/tests/test-agent-preflight.ps1
  scripts/tests/test-configure-git-defaults.sh
  scripts/tests/test-postinstall-hooks.js
Due: prettier, markdownlint, lychee

Fix semantic sorting for benchmark Speed/Quality columns on GitHub Pages (#249)
  .llm/skills/github-pages-theming.md
  Tests/Runtime/Performance/RandomBenchmarkMarkdownBuilder.cs
  _includes/head-custom.html
  docs/performance/random-performance.md
  package.json
  scripts/tests/test-github-pages-sortable.js
  scripts/tests/test-github-pages-sortable.js.meta
Due: prettier, markdownlint, lychee

Minor updates
  .claude/.gitkeep
  CHANGELOG.md
Due: prettier, markdownlint, lychee

Fix release-drafter auto-tag to use normalized semver version instead of hash (#250)
  .github/workflows/release-drafter.yml
  scripts/tests/test-sync-script-contracts.ps1
Due: prettier, yamllint

Test fixes
  .gitignore
  CHANGELOG.md
  Tests/Editor/PersistentDirectorySettingsMigrationTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/SingletonAssetPollutionPreventionTests.cs
  Tests/Editor/WButton/WButtonConflictWarningDisplayTests.cs
Due: prettier, markdownlint, lychee

Test fixes
  Tests/Editor/PersistentDirectorySettingsMigrationTests.cs
Due: none

Format changelog
  CHANGELOG.md
Due: prettier, markdownlint, lychee

PR feedback
  .githooks/pre-commit
  .githooks/pre-push
  .llm/skills/formatting-and-linting.md
  CHANGELOG.md
  Tests/Editor/WButton/WButtonConflictWarningDisplayTests.cs
  package.json
  scripts/lint-changelog.ps1
  scripts/lint-duplicate-usings.ps1
  scripts/lint-duplicate-usings.ps1.meta
  scripts/tests/test-lint-duplicate-usings.ps1
  scripts/tests/test-lint-duplicate-usings.ps1.meta
  scripts/tests/test-precommit-integration.sh
Due: prettier, markdownlint, lychee

PR feedback
  .editorconfig
  package.json
  scripts/tests/test-final-newline.sh
Due: prettier

PR feedback
  Tests/Editor/TestTypes/WButtonInvalidPlacementConflictTarget.cs
  Tests/Editor/TestTypes/WButtonInvalidPlacementConflictTarget.cs.meta
  Tests/Editor/WButton/WButtonConflictWarningDisplayTests.cs
Due: none

PR feedback
  .devcontainer/install-codex.sh
  .devcontainer/post-start.sh
  .github/workflows/build-publish-devcontainer.yml
  .github/workflows/validate-devcontainer.yml
  .github/workflows/validate-docs.yml
  scripts/check-code-fence-syntax.sh
  scripts/codex-login.sh
  scripts/codex-yolo.sh
  scripts/configure-git-defaults.sh
  scripts/git-staging-helpers.sh
  scripts/install-hooks.sh
  scripts/tests/test-configure-git-defaults.sh
  scripts/tests/test-cspell-hook-files-parity.sh
  scripts/tests/test-final-newline.sh
  scripts/tests/test-git-staging-helpers.sh
  scripts/tests/test-hook-patterns.sh
  scripts/tests/test-hook-spell-parity.sh
  scripts/tests/test-lint-meta-exclusions.sh
  scripts/tests/test-post-create.sh
  scripts/tests/test-shell-portability.sh
  scripts/tests/test-validate-devcontainer-urls.sh
  scripts/tests/test-wiki-generation.sh
  scripts/unity/generate-activation.sh
  scripts/unity/retry-license.sh
  scripts/validate-devcontainer-urls.sh
  scripts/validate-github-pages-css.sh
  scripts/verify-devcontainer-tools.sh
Due: prettier, yamllint

Update banner
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .llm/context.md
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, yamllint, lychee

3.3.0 Release (#252)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .llm/context.md
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint, yamllint, lychee
