Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.

  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

IllusionFlow deserialization bugfixes, minor sampling bias fix in NextUlong
  Docs/performance/ilist-sorting-performance.md
  Docs/performance/random-performance.md
  Docs/performance/reflection-performance.md
  Docs/performance/relational-components-performance.md
  Docs/performance/spatial-tree-2d-performance.md
  Docs/performance/spatial-tree-3d-performance.md
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Core/Random/DotNetRandom.cs
  Runtime/Core/Random/IllusionFlow.cs
  Tests/Runtime/Random/AbstractRandomEdgeCaseTests.cs
  Tests/Runtime/Random/AbstractRandomEdgeCaseTests.cs.meta
  Tests/Runtime/Random/DotNetRandomTests.cs
  Tests/Runtime/Random/IllusionFlowTests.cs
Due: prettier, markdownlint

Optimize illusion flow to reduce gc churn
  Runtime/Core/Random/IllusionFlow.cs
Due: none

Handling of edge cases in randoms returning 0 or 1 for floats and doubles in extensions and helpers
  Runtime/Core/Extension/RandomExtensions.cs
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/Partials/RandomSamplingHelpers.cs
  Runtime/Core/Helper/Partials/RandomSamplingHelpers.cs.meta
  Tests/Runtime/Attributes/DropdownAttributeTests.cs
  Tests/Runtime/DataStructures/OctTree3DTests.cs
  Tests/Runtime/DataStructures/PriorityQueueTests.cs
  Tests/Runtime/Extensions/ColorExtensionsTests.cs
  Tests/Runtime/Extensions/RandomExtensionEdgeCaseTests.cs
  Tests/Runtime/Extensions/RandomExtensionEdgeCaseTests.cs.meta
  Tests/Runtime/Helper/HelpersTests.cs
  Tests/Runtime/Helper/PathHelperTests.cs
  Tests/Runtime/Helper/RandomSamplingHelpersTests.cs
  Tests/Runtime/Helper/RandomSamplingHelpersTests.cs.meta
  Tests/Runtime/Helper/UnityMainThreadDispatcherTests.cs
  Tests/Runtime/Performance/ConvexHullPerformanceTests.cs
  Tests/Runtime/Random/AbstractRandomEdgeCaseTests.cs
  Tests/Runtime/Random/RandomTestBase.cs
  Tests/Runtime/TestDoubles.meta
  Tests/Runtime/TestDoubles/EdgeCaseRandom.cs
  Tests/Runtime/TestDoubles/EdgeCaseRandom.cs.meta
Due: none

Update changelog
  CHANGELOG.md
  CHANGELOG.md.meta
  Docs/project/changelog.md
Due: prettier, markdownlint

Bug fixes related to duplicate scriptable object singleton creation
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/ScriptableSingletons/NestedDiskSingleton.cs
  Tests/Editor/Utils/ScriptableSingletons/NestedDiskSingleton.cs.meta
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: prettier, markdownlint

More fixes for ScriptableObjectSingletonCreator
  CHANGELOG.md
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Editor/Utils/WButton/WButtonMetadataCache.cs
  Runtime/Core/DataStructure/TimedCache.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
  Tests/Runtime/Helper/SceneHelperTests.cs
Due: prettier, markdownlint

Update changelog
  CHANGELOG.md
Due: prettier, markdownlint

WallstopFastArrayPool changes
  CHANGELOG.md
  Docs/overview/index.md
  Editor/PrefabChecker.cs
  Editor/Sprites/AnimationCreator.cs
  Editor/Sprites/SpriteSettingsApplier.cs
  Editor/Sprites/TextureSettingsApplierWindow.cs
  README.md
  Runtime/Core/DataStructure/RTree2D.cs
  Runtime/Core/DataStructure/RTree3D.cs
  Runtime/Core/DataStructure/SparseSet.cs
  Runtime/Core/Extension/IListExtensions.cs
  Runtime/Core/Extension/RandomExtensions.cs
  Runtime/Core/Helper/Helpers.cs
  Runtime/Utils/Buffers.cs
  Runtime/Visuals/UIToolkit/LayeredImage.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: prettier, markdownlint

Fix OctTree semantics
  Docs/performance/spatial-tree-3d-performance.md
  Runtime/Core/DataStructure/OctTree3D.cs
Due: prettier, markdownlint

Remove WFoldoutGroup
  CHANGELOG.md
  Docs/features/inspector/inspector-button.md
  Docs/features/inspector/inspector-conditional-display.md
  Docs/features/inspector/inspector-grouping-attributes.md
  Docs/features/inspector/inspector-overview.md
  Docs/features/inspector/inspector-selection-attributes.md
  Docs/features/inspector/inspector-settings.md
  Docs/overview/index.md
  Docs/overview/roadmap.md
  Editor/CustomEditors/WButtonInspector.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Utils/WFoldoutGroup/WFoldoutGroupGUI.cs
  Editor/Utils/WFoldoutGroup/WFoldoutGroupGUI.cs.meta
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  README.md
  Runtime/Core/Attributes/WFoldoutGroupAttribute.cs
  Runtime/Core/Attributes/WFoldoutGroupAttribute.cs.meta
  Runtime/Core/Attributes/WFoldoutGroupEndAttribute.cs
  Runtime/Core/Attributes/WFoldoutGroupEndAttribute.cs.meta
  Runtime/Core/Attributes/WShowIfAttribute.cs
  Tests/Editor/Attributes/WGroupLayoutBuilderTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
Due: prettier, markdownlint

refactor: split animation event editor + unify test base
  Docs/project/animation-event-editor.md
  Docs/project/animation-event-editor.md.meta
  Editor/AnimationEventClipSelector.cs
  Editor/AnimationEventClipSelector.cs.meta
  Editor/AnimationEventEditor.cs
  Editor/AnimationEventEditorViewModel.cs
  Editor/AnimationEventEditorViewModel.cs.meta
  Editor/AnimationEventFunctionFieldRenderer.cs
  Editor/AnimationEventFunctionFieldRenderer.cs.meta
  Editor/AnimationEventItem.cs
  Editor/AnimationEventItem.cs.meta
  Editor/AnimationEventKeyboardShortcuts.cs
  Editor/AnimationEventKeyboardShortcuts.cs.meta
  Editor/AnimationEventMethodSelector.cs
  Editor/AnimationEventMethodSelector.cs.meta
  Editor/AnimationEventParameterRenderer.cs
  Editor/AnimationEventParameterRenderer.cs.meta
  Editor/AnimationEventSpritePreviewRenderer.cs
  Editor/AnimationEventSpritePreviewRenderer.cs.meta
  Editor/AnimationEventTimeFieldRenderer.cs
  Editor/AnimationEventTimeFieldRenderer.cs.meta
  Tests/Editor/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Editor.Reflex.asmdef
  Tests/Editor/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Editor.VContainer.asmdef
  Tests/Editor/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Editor.Zenject.asmdef
  Tests/Editor/Tools/AnimationEventEditorSmokeTests.cs
  Tests/Editor/Tools/AnimationEventEditorSmokeTests.cs.meta
  Tests/Editor/Tools/AnimationEventEditorViewModelTests.cs
  Tests/Editor/Tools/AnimationEventEditorViewModelTests.cs.meta
  Tests/Editor/Utils/CommonTestBase.cs
  Tests/Runtime/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Runtime.Reflex.asmdef
  Tests/Runtime/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Runtime.VContainer.asmdef
  Tests/Runtime/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Runtime.Zenject.asmdef
  Tests/Runtime/Performance/WallstopStudios.UnityHelpers.Tests.Runtime.Performance.asmdef
  Tests/Runtime/Random/WallstopStudios.UnityHelpers.Tests.Runtime.Random.asmdef
  Tests/Runtime/TestUtils/CommonTestBase.cs
  Tests/Runtime/WallstopStudios.UnityHelpers.Tests.Runtime.asmdef
  Tests/TestFramework/CommonTestBase.cs
  Tests/TestFramework/CommonTestBase.cs.meta
  Tests/TestFramework/WallstopStudios.UnityHelpers.Tests.Common.asmdef
  Tests/TestFramework/WallstopStudios.UnityHelpers.Tests.Common.asmdef.meta
Due: prettier, markdownlint

refactor: extract bounds extensions
  Docs/features/editor-tools/editor-tools-guide.md
  Runtime/Core/Extension/UnityExtensions.Bounds.cs
  Runtime/Core/Extension/UnityExtensions.cs
Due: prettier, markdownlint

refactor: extract ui extensions
  PLAN.md
  Runtime/Core/Extension/UnityExtensions.UI.cs
  Runtime/Core/Extension/UnityExtensions.cs
Due: prettier, markdownlint

refactor: split physics/ui extensions
  PLAN.md
  Runtime/Core/Extension/UnityExtensions.Physics.cs
  Runtime/Core/Extension/UnityExtensions.cs
Due: prettier, markdownlint

Concave hull fixes
  Editor/AnimationEventKeyboardShortcuts.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Core/Extension/Partials.meta
  Runtime/Core/Extension/Partials/Animation.cs
  Runtime/Core/Extension/Partials/Animation.cs.meta
  Runtime/Core/Extension/Partials/Bounds.cs
  Runtime/Core/Extension/Partials/Bounds.cs.meta
  Runtime/Core/Extension/Partials/Containment.cs
  Runtime/Core/Extension/Partials/Containment.cs.meta
  Runtime/Core/Extension/Partials/General.cs
  Runtime/Core/Extension/Partials/General.cs.meta
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs.meta
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs.meta
  Runtime/Core/Extension/Partials/GeometryHelpers.cs
  Runtime/Core/Extension/Partials/GeometryHelpers.cs.meta
  Runtime/Core/Extension/Partials/Grid.cs
  Runtime/Core/Extension/Partials/Grid.cs.meta
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs.meta
  Runtime/Core/Extension/Partials/Physics.cs
  Runtime/Core/Extension/Partials/Physics.cs.meta
  Runtime/Core/Extension/Partials/UI.cs
  Runtime/Core/Extension/Partials/UI.cs.meta
  Runtime/Core/Extension/UnityExtensions.cs
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Utils/Buffers.cs
  Tests/Runtime/Extensions/GridTestBase.cs
  Tests/Runtime/Extensions/GridTestBase.cs.meta
  Tests/Runtime/Extensions/UnityExtensionsComprehensiveTests.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs.meta
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
Due: none

Better Concave Hulls
  CHANGELOG.md
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
Due: prettier, markdownlint

More extraction
  PLAN.md
  Runtime/Core/Extension/Partials/Containment.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs.meta
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs.meta
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs.meta
  Runtime/Core/Extension/Partials/GridConcaveHullLineDivision.cs
  Runtime/Core/Extension/Partials/GridConcaveHullLineDivision.cs.meta
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs.meta
  Runtime/Core/Extension/Partials/GridHullDiagnostics.cs
  Runtime/Core/Extension/Partials/GridHullDiagnostics.cs.meta
  Runtime/Core/Extension/Partials/GridTraversal.cs
  Runtime/Core/Extension/Partials/GridTraversal.cs.meta
  Tests/Runtime/Extensions/UnityExtensionsConcaveHullDiagnosticsTests.cs
  Tests/Runtime/Extensions/UnityExtensionsConcaveHullDiagnosticsTests.cs.meta
Due: prettier, markdownlint

More concave hull work
  CHANGELOG.md
  Docs/features/spatial/hulls.md
  PLAN.md
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Tests/Runtime/Extensions/HullRegressionRecorder.cs
  Tests/Runtime/Extensions/HullRegressionRecorder.cs.meta
  Tests/Runtime/Extensions/UnityExtensionsComprehensiveTests.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
  Tests/Runtime/Performance/ConcaveHullPerformanceTests.cs
Due: prettier, markdownlint

Update docs
  .gitignore
  AGENTS.md
  Docs/overview/getting-started.md
  PLAN.md
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GeometryHelpers.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  TestProjects/UnityPackageTests/README.md
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  scripts/run-unity-tests.ps1
  scripts/run-unity-tests.sh
Due: prettier, markdownlint

More regression tests
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
Due: none

Fix Buffer compilation issue, fix bug in EffectHandle tests
  Runtime/Utils/Buffers.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
  Tests/Runtime/Tags/EffectHandlerTests.cs
Due: none

Un-Stage TestProjects
  .gitignore
  PLAN.md
  TestProjects/UnityPackageTests.meta
  TestProjects/UnityPackageTests/Packages.meta
  TestProjects/UnityPackageTests/ProjectSettings.meta
  TestProjects/UnityPackageTests/ProjectSettings/ProjectVersion.txt
  TestProjects/UnityPackageTests/ProjectSettings/ProjectVersion.txt.meta
  TestProjects/UnityPackageTests/README.md
  TestProjects/UnityPackageTests/README.md.meta
Due: prettier, markdownlint

Remove legacy scripts
  .gitignore
  package.json
  scripts/run-unity-tests.js
  scripts/run-unity-tests.js.meta
  scripts/run-unity-tests.ps1
  scripts/run-unity-tests.ps1.meta
  scripts/run-unity-tests.sh
  scripts/run-unity-tests.sh.meta
Due: prettier

Remove PLAN from git tracking
  .gitignore
  PLAN.md
Due: prettier, markdownlint

Fix SINGLE_THREADED issue added in new tests (test only)
  Tests/Runtime/Utils/BuffersTests.cs
Due: none

Add even more robust test cases
  Tests/Runtime/Utils/BuffersTests.cs
Due: none

Optimize hashset usage
  Docs/performance/spatial-tree-3d-performance.md
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  Runtime/Core/DataStructure/OctTree3D.cs
  Runtime/Core/DataStructure/RTree3D.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
Due: prettier, markdownlint

Zero Allocation sorts
  Runtime/Core/Extension/IListExtensions.cs
Due: none

Proper Buffer usage
  Editor/AnimationEventEditorViewModel.cs
  Editor/AnimationEventMethodSelector.cs
  Editor/AssetProcessors/SpriteLabelProcessor.cs
  Editor/Core/Helper/AnimationEventHelpers.cs
  Editor/PrefabChecker.cs
  Editor/Sprites/AnimationCopier.cs
  Editor/Sprites/AnimationCreator.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Editor/Sprites/TextureResizerWizard.cs
  Editor/Sprites/TextureSettingsApplierWindow.cs
  Runtime/Core/DataStructure/KDTree2D.cs
  Runtime/Core/DataStructure/KDTree3D.cs
  Runtime/Core/DataStructure/OctTree3D.cs
  Runtime/Core/DataStructure/RTree2D.cs
  Runtime/Core/DataStructure/Trie.cs
  Runtime/Core/Extension/IEnumerableExtensions.cs
  Runtime/Core/Extension/Partials/Bounds.cs
  Runtime/Core/Extension/Partials/GeometryHelpers.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Runtime/Core/Extension/StringExtensions.cs
  Runtime/Core/Helper/Helpers.cs
  Runtime/Core/Helper/Partials/ObjectHelpers.cs
  Runtime/Core/Helper/Partials/TransformHelpers.cs
  Runtime/Core/Random/AbstractRandom.cs
  Runtime/Tags/EffectHandler.cs
  Runtime/Utils/MatchColliderToSprite.cs
  Runtime/Utils/SpriteRendererMetadata.cs
  Tests/Editor/Helper/HelpersTests.cs
  Tests/Editor/MultiFileSelectorElementTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: none

Progress
  CHANGELOG.md
  Docs/performance/ilist-sorting-performance.md
  Editor/Tools/ManualRecompile.cs
  README.md
  Runtime/Core/Extension/IListExtensions.cs
  Tests/Runtime/Extensions/IListExtensionTests.cs
  Tests/Runtime/Performance/IListSortingPerformanceTests.cs
  Tests/Runtime/Tags/EffectHandlerTests.cs
Due: prettier, markdownlint

Replace System.Random in tests
  Tests/Runtime/DataStructures/DisjointSetTests.cs
  Tests/Runtime/DataStructures/SpatialTree3DBoundsConsistencyTests.cs
  Tests/Runtime/Extensions/IListExtensionTests.cs
  Tests/Runtime/Extensions/UnityExtensionsComprehensiveTests.cs
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
  Tests/Runtime/Helper/FileHelperTests.cs
  Tests/Runtime/Serialization/JsonSerializationCorrectnessTests.cs
  Tests/Runtime/Serialization/ProtoSerializationCorrectnessTests.cs
  Tests/Runtime/Utils/Ascii85Tests.cs
  Tests/Runtime/Utils/BuffersTests.cs
  Tests/Runtime/Utils/LZMAComprehensiveTests.cs
  Tests/Runtime/Utils/LZMATests.cs
Due: none

Progress
  .editorconfig
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/Settings/PaletteSerializationDiagnostics.cs
  Editor/Settings/PaletteSerializationDiagnostics.cs.meta
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Sprites/AnimationCreator.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Runtime/Settings/UnityHelpersBufferSettingsAsset.cs
  Runtime/Settings/UnityHelpersBufferSettingsBootstrap.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  Tests/Editor/WButton/WButtonMetadataCacheTests.cs
Due: none

Progress
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
Due: none

Progress
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
Due: none

Progress towards dictionary drawers
  CHANGELOG.md
  Docs/features/editor-tools/editor-tools-guide.md
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/SolidButtonStyles.cs
  Editor/Settings/PaletteSerializationDiagnostics.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Tools/ManualRecompile.cs
  PLAN.md
  PLAN.md.meta
  README.md
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Tools/ManualRecompileTests.cs
  Tests/Editor/Tools/ManualRecompileTests.cs.meta
Due: prettier, markdownlint
