Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.

  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

Update meta files
  Docs/images.meta
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Settings/PaletteSerializationDiagnostics.cs
  Editor/Tools/ManualRecompile.cs.meta
  Editor/Utils/WButton.meta
  PLAN.md
  Tests/Editor/CustomDrawers.meta
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Tools/ManualRecompileTests.cs.meta
  Tests/Runtime/DataStructures/SerializableSortedSetTests.cs.meta
  Tests/Runtime/Helper/LayerHelperTests.cs.meta
  Tests/Runtime/Helper/MathHelpersTests.cs.meta
  Tests/Runtime/Helper/ReflectionHelperTypedDelegatesTests.cs.meta
  Tests/Runtime/Helper/SpriteLabelCacheTests.cs.meta
  Tests/Runtime/Helper/TestAssemblyHelperTests.cs.meta
  Tests/Runtime/Helper/TransformHelpersTests.cs.meta
  Tests/Runtime/Helper/ValueHelpersTests.cs.meta
  Tests/Runtime/Utils/BuffersTests.cs
Due: prettier, markdownlint

Mostly fix tests
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Utils/GroupGUIWidthUtility.cs
  PLAN.md
  Tests/Editor/CustomDrawers/SerializableCollectionDrawerVisualRegressionTests.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
Due: prettier, markdownlint

Cleanuper utils usage
  Editor/AnimationEventMethodSelector.cs
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Sprites/AnimationCreator.cs
  Editor/Sprites/AnimationViewerWindow.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Editor/Sprites/SpriteCropper.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  PLAN.md
  PLAN.md.meta
  Runtime/Core/DataStructure/SpatialHash2D.cs
  Runtime/Core/DataStructure/SpatialHash3D.cs
  Runtime/Utils/Buffers.cs
  Tests/Runtime/Performance/SpatialTree2DPerformanceTests.cs
  Tests/Runtime/Performance/SpatialTree3DPerformanceTests.cs
Due: prettier, markdownlint

Less memory allocations
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/CustomEditors/WButtonInspector.cs
  Editor/Sprites/AnimationCopier.cs
  Editor/Sprites/TextureSettingsApplierWindow.cs
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
Due: none

Progress
  Editor/FitTextureSizeWindow.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/Attributes/RelationalComponentInitializer.cs
  Runtime/Core/DataStructure/DisjointSet.cs
  Runtime/Core/Helper/LineHelper.cs
  Runtime/Core/Serialization/JsonConverters/AnimationCurveConverter.cs
  Runtime/Core/Serialization/JsonConverters/GradientConverter.cs
  Runtime/Tags/EffectHandler.cs
Due: none

Updated TimedCacheTests to be more deterministic
  CHANGELOG.md
  Docs/performance/relational-components-performance.md
  Tests/Runtime/DataStructures/TimedCacheTests.cs
Due: prettier, markdownlint

Minor perf improvements
  CHANGELOG.md
  Docs/performance/relational-components-performance.md
  Runtime/Core/Attributes/ChildComponentAttribute.cs
  Runtime/Core/DataStructure/Adapters/SerializableType.cs
  Runtime/Core/DataStructure/SpatialHash2D.cs
  Runtime/Core/DataStructure/SpatialHash3D.cs
  Runtime/Core/Helper/Logging/UnityLogTagFormatter.cs
  Runtime/Tags/EffectHandler.cs
  Tests/Runtime/Extensions/UnityLogTagFormatterEdgeTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: prettier, markdownlint

Perf work
  Docs/features/spatial/hulls.md
  Docs/performance/ilist-sorting-performance.md
  Docs/performance/random-performance.md
  Docs/performance/reflection-performance.md
  Docs/performance/relational-components-performance.md
  Docs/performance/spatial-tree-2d-performance.md
  Docs/performance/spatial-tree-3d-performance.md
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Sprites/AnimationCreator.cs
  Runtime/Core/DataStructure/ISpatialHash2D.cs
  Runtime/Core/DataStructure/ISpatialHash2D.cs.meta
  Runtime/Core/DataStructure/ISpatialHash3D.cs
  Runtime/Core/DataStructure/ISpatialHash3D.cs.meta
  Runtime/Core/DataStructure/SpatialHash2D.cs
  Runtime/Core/DataStructure/SpatialHash3D.cs
  Runtime/Core/Extension/IListExtensions.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHullGrid.cs
  Runtime/Core/Extension/Partials/GridConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Runtime/Core/Extension/Partials/GridConcaveHullEdgeSplit.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Samples~/Spatial Structures - 2D and 3D/Scripts/HullUsageDemo.cs
  Samples~/Spatial Structures - 2D and 3D/Scripts/SpatialStructuresDemo.cs
  Tests/Runtime/DataStructures/SpatialHashTests.cs
  Tests/Runtime/Extensions/UnityExtensionsComprehensiveTests.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Extensions/UnityExtensionsVector2HullTests.cs
  Tests/Runtime/Performance/ConcaveHullPerformanceTests.cs
Due: prettier, markdownlint

StringInList progress
  CHANGELOG.md
  Docs/features/inspector/inspector-selection-attributes.md
  Editor/CustomDrawers/SerializableTypeDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Runtime/Core/Attributes/StringInListAttribute.cs
  Runtime/Core/Extension/Partials/GeometryConcaveHull.cs
  Runtime/Core/Extension/Partials/GridConcaveHullKnn.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Tests/Runtime/Attributes/DropdownAttributeTests.cs
Due: prettier, markdownlint

More progress
  Editor/AnimationEventMethodSelector.cs
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WSerializableCollectionFoldoutUtility.cs
  Editor/CustomDrawers/WSerializableCollectionFoldoutUtility.cs.meta
  Editor/CustomEditors/PersistentDirectoryGUI.cs
  Editor/CustomEditors/SourceFolderEntryDrawer.cs
  Editor/Extensions/SerializedPropertyExtensions.cs
  Editor/FitTextureSizeWindow.cs
  Editor/PersistentDirectorySettings.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Sprites/AnimationViewerWindow.cs
  Editor/Sprites/ScriptableSpriteAtlasEditor.cs
  Editor/Sprites/SpriteCropper.cs
  Editor/Sprites/SpritePivotAdjustor.cs
  Editor/Sprites/SpriteSettingsApplier.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  Runtime/Core/Attributes/StringInListAttribute.cs
  Runtime/Core/Attributes/WSerializableCollectionFoldoutAttribute.cs
  Runtime/Core/Attributes/WSerializableCollectionFoldoutAttribute.cs.meta
  Runtime/Core/DataStructure/Adapters/SerializableType.cs
  Runtime/Tags/AttributeEffect.cs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Tags/TagHandler.cs
  Runtime/Visuals/UIToolkit/MultiFileSelectorElement.cs
  Samples~/UI Toolkit - MultiFile Selector (Editor)/README.md
  Samples~/UI Toolkit - MultiFile Selector (Editor)/Scripts/Editor/MultiFileSelectorSampleWindow.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
  Tests/Runtime/DataStructures/SerializableTypeTests.cs
Due: prettier, markdownlint

Better docs
  Docs/features/inspector/inspector-settings.md
  Docs/features/serialization/serialization-types.md
Due: prettier, markdownlint

InLinePropertyDrawer, AssetPostProcessor, BugFixes
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/project/contributing.md
  Docs/project/third-party-notices.md
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs.meta
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs.meta
  Editor/Settings/UnityHelpersSettings.cs
  Runtime/Core/Attributes/AssetChangeContext.cs
  Runtime/Core/Attributes/AssetChangeContext.cs.meta
  Runtime/Core/Attributes/DetectAssetChangedAttribute.cs
  Runtime/Core/Attributes/DetectAssetChangedAttribute.cs.meta
  Runtime/Core/Attributes/WInLineEditorAttribute.cs
  Runtime/Core/Attributes/WInLineEditorAttribute.cs.meta
  Runtime/Tags/Attribute.cs
  Runtime/Tags/AttributeUtilities.cs
  Runtime/Tags/TagHandler.cs
  Tests/Editor/AssetProcessors.meta
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs.meta
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs.meta
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
Due: prettier, markdownlint

Fixes
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Fix drawer
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Spacing
  Editor/CustomDrawers/WInLineEditorDrawer.cs
Due: none

Bug fixes in ScriptableObjectSingleton
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
Due: none

Width fixes
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Runtime/Core/Attributes/WInLineEditorAttribute.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Fixes for inline inspector
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/CustomEditors/WButtonInspector.cs
  Editor/Internal.meta
  Editor/Internal/InlineInspectorContext.cs
  Editor/Internal/InlineInspectorContext.cs.meta
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Add minor padding
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Better foldout spacing
  Editor/Utils/WGroup/WGroupGUI.cs
  Tests/Editor/Utils/WGroupHeaderVisualUtilityTests.cs
  Tests/Editor/Utils/WGroupHeaderVisualUtilityTests.cs.meta
Due: none

Data driven collapse settings
  Docs/features/editor-tools/editor-tools-guide.md
  Editor/Settings/UnityHelpersSettings.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: prettier, markdownlint

Better spacing
  Editor/Utils/WGroup/WGroupGUI.cs
  Tests/Editor/Utils/WGroupHeaderVisualUtilityTests.cs
Due: none

Ping fixes
  Docs/features/editor-tools/editor-tools-guide.md
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/Utils/ProjectBrowserVisibilityUtility.cs
  Editor/Utils/ProjectBrowserVisibilityUtility.cs.meta
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: prettier, markdownlint

Project Settings collapsability
  Docs/features/inspector/inspector-grouping-attributes.md
  Docs/features/inspector/inspector-settings.md
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  Runtime/Core/Attributes/WGroupAttribute.cs
  Tests/Editor/Attributes/WGroupLayoutBuilderTests.cs
  Tests/Editor/Settings/UnityHelpersSettingsTests.cs
Due: prettier, markdownlint

Fix StringInList
  CHANGELOG.md
  Editor/CustomDrawers/StringInListDrawer.cs
  Runtime/Utils/ScriptableObjectSingleton.cs
  Tests/Editor/CustomDrawers/StringInListDrawerTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: prettier, markdownlint

Nice DetectAssetChanged
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Runtime/Core/Attributes/DetectAssetChangedAttribute.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
Due: none

Finish AssetDetector
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Editor/Settings/UnityHelpersSettings.cs
  Runtime/Core/Attributes/DetectAssetChangedAttribute.cs
  Runtime/Core/Extension/Partials/GridConvexHull.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  Tests/Runtime/Extensions/RandomExtensionTests.cs
  Tests/Runtime/Helper/ObjectsTests.cs
Due: none

Fix warning
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
Due: none

Test progress
  .devcontainer/devcontainer.json
  Editor/AssetProcessors/DetectAssetChangeProcessor.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  Tests/Editor/CustomDrawers/StringInListDrawerTests.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
Due: prettier

Update gitignore
  .devcontainer/devcontainer.json
  .gitignore
Due: prettier

Fix tests
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
Due: none

Better styling
  Editor/CustomDrawers/IntDropdownDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WDropdownPopupWindow.cs
  Editor/CustomDrawers/WDropdownPopupWindow.cs.meta
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Editor/Styles/Dropdowns.meta
  Editor/Styles/Dropdowns/WDropdownLight.uss
  Editor/Styles/Dropdowns/WDropdownLight.uss.meta
  Editor/Styles/Dropdowns/WDropdownStyles.uss
  Editor/Styles/Dropdowns/WDropdownStyles.uss.meta
  Editor/Styles/Dropdowns/WDropdownVariables.uss
  Editor/Styles/Dropdowns/WDropdownVariables.uss.meta
  Editor/Styles/WDropdownStyleLoader.cs
  Editor/Styles/WDropdownStyleLoader.cs.meta
  Runtime/Core/Attributes/IntDropdownAttribute.cs
  Runtime/Core/Attributes/StringInListAttribute.cs
  Runtime/Core/Attributes/WValueDropDownAttribute.cs
  Tests/Editor/CustomDrawers/IntDropdownDrawerTests.cs
  Tests/Editor/CustomDrawers/StringInListDrawerTests.cs
  Tests/Editor/CustomDrawers/TestTypes/DropdownTestAssets.cs
  Tests/Editor/CustomDrawers/TestTypes/DropdownTestAssets.cs.meta
  Tests/Editor/CustomDrawers/WValueDropDownDrawerTests.cs
Due: none

More robust drawers
  Editor/CustomDrawers/WDropdownPopupWindow.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/Styles/Dropdowns/WDropdownStyles.uss
  Editor/Styles/WDropdownStyleLoader.cs
  Tests/Editor/AssetProcessors/DetectAssetChangeProcessorTests.cs
  Tests/Editor/CustomDrawers/WInLineEditorDrawerTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
Due: none

Drawer optimizations
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Editor/Extensions/SerializedPropertyExtensions.cs
  Editor/Internal/EditorCacheManager.cs
  Editor/Internal/EditorCacheManager.cs.meta
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WButton/WButtonParameterDrawer.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  Runtime/Core/Attributes/DropdownValueProvider.cs
  Runtime/Core/Attributes/IntDropdownAttribute.cs
  Runtime/Core/Attributes/StringInListAttribute.cs
  Runtime/Core/Attributes/WValueDropDownAttribute.cs
  Runtime/Core/DataStructure/Adapters/SerializableType.cs
  Tests/Editor/Attributes/WGroupLayoutBuilderTests.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/Extensions/SerializedPropertyExtensionsTests.cs
Due: none

Optimized drawing
  AGENTS.md
  Editor/CustomDrawers/IntDropdownDrawer.cs
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/SerializableTypeDrawer.cs
  Editor/CustomDrawers/StringInListDrawer.cs
  Editor/CustomDrawers/WDropdownPopupWindow.cs
  Editor/CustomDrawers/WEnumToggleButtonsDrawer.cs
  Editor/CustomDrawers/WGuidPropertyDrawer.cs
  Editor/CustomDrawers/WInLineEditorDrawer.cs
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Editor/CustomEditors/WButtonInspector.cs
  Editor/Utils/SerializedPropertyIterator.cs
  Editor/Utils/SerializedPropertyIterator.cs.meta
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WButton/WButtonInvocationController.cs
  Editor/Utils/WButton/WButtonInvocationTypes.cs
  Editor/Utils/WGroup/WGroupGUI.cs
  Editor/Utils/WGroup/WGroupLayoutBuilder.cs
  Tests/Editor/WButton/WButtonDisabledStateTests.cs
  Tests/Editor/WButton/WButtonDisabledStateTests.cs.meta
Due: prettier, markdownlint

Cleanup
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Utils/WButton/WButtonGUI.cs
  Editor/Utils/WButton/WButtonInvocationController.cs
  Editor/Utils/WButton/WButtonStyles.cs
  Tests/Editor/Attributes/WGroupLayoutBuilderTests.cs
  Tests/Editor/Attributes/WShowIfPropertyDrawerTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/WButton/WButtonDisabledStateTests.cs
Due: none

Test fixes
  TestFailures.txt
  TestFailures.txt.meta
  Tests/Runtime/Attributes/DropdownAttributeTests.cs
Due: none

Remove bad files
  .gitignore
  CompilationErrors.txt
  CompilationErrors.txt.meta
  Editor.log.meta
  TestFailures.txt
  TestFailures.txt.meta
  TestProjects.meta
Due: none
