Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
  language: system
  description: Use the repo's Prettier version from package.json.
  require_serial: true

markdownlint:
  name: markdownlint (respect repo config)
  entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
  language: system
  require_serial: true

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

Fix linter errors
  .llm/context.md
  .llm/skills/format-code.md
  .llm/skills/validate-before-commit.md
  Tests/Editor/Utils/WButton/WButtonEditorHelperTests.cs
Due: prettier, markdownlint

Fix release-drafter
  .github/workflows/release-drafter.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

Fix deploy wiki CI/CD
  .github/workflows/deploy-wiki.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
Due: prettier, markdownlint, yamllint

Fix deploy wiki CI/CD (#113)
  .github/workflows/deploy-wiki.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
Due: prettier, markdownlint, yamllint

Implement copilot suggestions
  .github/workflows/deploy-wiki.yml
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

Better documentation theming
  README.md
  _includes/head-custom.html
  _includes/mermaid.html
  assets.meta
  assets/css.meta
  assets/css/theme.css
  assets/css/theme.css.meta
Due: prettier, markdownlint

Better pre-commit, pre-push hooks
  .githooks/pre-push
  .llm/context.md
  .llm/skills/format-non-csharp.md
  .llm/skills/format-non-csharp.md.meta
  .llm/skills/validate-before-commit.md
  README.md
  scripts/extract-code-samples.js
  scripts/install-hooks.ps1
  scripts/install-hooks.ps1.meta
  scripts/install-hooks.sh
  scripts/install-hooks.sh.meta
  scripts/run-doc-link-lint.js
Due: prettier, markdownlint

Copilot suggestions
  _includes/head-custom.html
  _includes/mermaid.html
Due: none

Improved CI/CD, Dev Scripts, GH Pages Theming, GH Pages + Wiki Links (#114)
  .githooks/pre-push
  .github/workflows/deploy-wiki.yml
  .llm/context.md
  .llm/skills/format-non-csharp.md
  .llm/skills/format-non-csharp.md.meta
  .llm/skills/validate-before-commit.md
  README.md
  _includes/head-custom.html
  _includes/mermaid.html
  assets.meta
  assets/css.meta
  assets/css/theme.css
  assets/css/theme.css.meta
  scripts/extract-code-samples.js
  scripts/install-hooks.ps1
  scripts/install-hooks.ps1.meta
  scripts/install-hooks.sh
  scripts/install-hooks.sh.meta
  scripts/run-doc-link-lint.js
Due: prettier, markdownlint, yamllint

Bump version to 3.0.5
  CHANGELOG.md
Due: prettier, markdownlint

Actually bump version
  package.json
Due: prettier

Address old copilot comments, update pre-commit framework
  .githooks/pre-commit
  .pre-commit-config.yaml
  _includes/head-custom.html
  _includes/mermaid.html
  docs/images/unity-helpers-banner.svg
  scripts/sync-banner-version.ps1
Due: prettier, yamllint

Bump version to 3.0.5 (#115)
  .githooks/pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  _includes/head-custom.html
  _includes/mermaid.html
  docs/images/unity-helpers-banner.svg
  package.json
  scripts/sync-banner-version.ps1
Due: prettier, markdownlint, yamllint

Fix GitHub Pages
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/github-pages.md
  assets/css/theme.css
  docs/features/editor-tools/editor-tools-guide.md
  docs/features/effects/effects-system-tutorial.md
  docs/features/inspector/inspector-button.md
  docs/features/inspector/inspector-conditional-display.md
  docs/features/inspector/inspector-grouping-attributes.md
  docs/features/inspector/inspector-inline-editor.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/inspector-selection-attributes.md
  docs/features/inspector/inspector-settings.md
  docs/features/inspector/inspector-validation-attributes.md
  docs/features/logging/logging-extensions.md
  docs/features/serialization/serialization-types.md
  docs/features/spatial/spatial-trees-2d-guide.md
  docs/features/spatial/spatial-trees-3d-guide.md
  docs/features/utilities/helper-utilities.md
  docs/features/utilities/random-generators.md
  docs/overview/getting-started.md
  docs/overview/glossary.md
  docs/overview/index.md
  index.md
Due: prettier, markdownlint, yamllint

Fix CI/CD linter errors
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/avoid-magic-strings.md
  .llm/skills/avoid-reflection.md
  .llm/skills/create-csharp-file.md
  .llm/skills/create-editor-tool.md
  .llm/skills/create-scriptable-object.md
  .llm/skills/create-test.md
  .llm/skills/defensive-programming.md
  .llm/skills/format-non-csharp.md
  .llm/skills/gc-architecture-unity.md
  .llm/skills/git-safe-operations.md
  .llm/skills/github-pages.md
  .llm/skills/high-performance-csharp.md
  .llm/skills/memory-allocation-traps.md
  .llm/skills/mobile-xr-optimization.md
  .llm/skills/performance-audit.md
  .llm/skills/profile-debug-performance.md
  .llm/skills/refactor-to-zero-alloc.md
  .llm/skills/unity-performance-patterns.md
  .llm/skills/update-documentation.md
  .llm/skills/use-pooling.md
  .llm/skills/validate-before-commit.md
  CHANGELOG.md
  README.md
  cspell.json
Due: prettier, markdownlint, yamllint

Fix github pages CI/CD
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/github-pages.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

Fix CI/CD
  .llm/context.md
  .llm/skills/github-pages.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint

Fix linters/CI-CD
  .githooks/pre-push
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/github-pages.md
  .llm/skills/validate-before-commit.md
  cspell.json
  scripts/lint-doc-links.ps1
Due: prettier, markdownlint, yamllint

More lint fixes
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
  .pre-commit-config.yaml
  package.json
  scripts/lint-yaml.ps1
  scripts/lint-yaml.ps1.meta
Due: prettier, markdownlint, yamllint

Copilot fixes
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/search-codebase.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

More lint fixes
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/validate-docs.yml
  .llm/context.md
  .llm/skills/search-codebase.md
  .llm/skills/validate-before-commit.md
  .pre-commit-config.yaml
  assets/css/theme.css
  cspell.json
  scripts/lint-doc-links.ps1
  scripts/lint-yaml.ps1
Due: prettier, markdownlint, yamllint

Fix line endings
  .gitattributes
  .github/workflows/deploy-pages.yml
  .github/workflows/doc-code-samples.yml
  .github/workflows/stale.yml
  package.json
Due: prettier, yamllint

Fix all CI/CD issues
  .llm/context.md
  .llm/skills/github-pages.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
  docs/features/effects/effects-system-tutorial.md
  docs/features/inspector/inspector-overview.md
  docs/features/relational-components/relational-components.md
  docs/features/spatial/spatial-trees-2d-guide.md
  docs/features/spatial/spatial-trees-3d-guide.md
  docs/features/utilities/random-generators.md
  docs/overview/getting-started.md
  docs/overview/glossary.md
  docs/overview/index.md
  docs/overview/roadmap.md
  docs/project/license.md
  docs/project/llms-txt.md
  index.md
  scripts/lint-doc-links.ps1
Due: prettier, markdownlint

PR fixes
  .gitattributes
  .githooks/pre-commit
  .githooks/pre-push
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/asmdef-lint.yml
  .github/workflows/changelog-lint.yml
  .github/workflows/csharp-naming-lint.yml
  .github/workflows/csharp-no-regions-lint.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/license-header-lint.yml
  .github/workflows/markdown-json.yml
  .github/workflows/meta-file-lint.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/stale.yml
  .github/workflows/unity-file-naming-lint.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/format-non-csharp.md
  .llm/skills/validate-before-commit.md
  .prettierignore
  .prettierrc.json
  .yamllint.yaml
Due: prettier, markdownlint, yamllint

PR feedback
  .githooks/pre-commit
  .githooks/pre-push
  .llm/context.md
  .llm/skills/format-non-csharp.md
  .llm/skills/git-safe-operations.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
  .prettierrc.json
  package.json
Due: prettier, markdownlint

PR feedback
  .editorconfig
  scripts/check-eol.ps1
  scripts/normalize-eol.ps1
Due: none

PR feedback
  docs/features/inspector/visual-components.md
  docs/features/relational-components/relational-components.md
  docs/overview/getting-started.md
  docs/project/llms-txt.md
Due: prettier, markdownlint

PR feedback
  .githooks/pre-push
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy-wiki.yml
  cspell.json
  package.json
Due: prettier, yamllint

Wiki fixes
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-wiki-links.yml
Due: prettier, yamllint

PR feedback
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validate-wiki-links.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
Due: prettier, markdownlint, yamllint

PR feedback
  .github/workflows/validate-wiki-links.yml
  .llm/context.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

PR feedback
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-wiki-links.yml
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint, yamllint

PR feedback
  .llm/context.md
  .llm/skills/update-documentation.md
  cspell.json
Due: prettier, markdownlint

PR feedback
  .llm/context.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint

Wiki fixes (#122)
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validate-wiki-links.yml
  .llm/context.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
  cspell.json
Due: prettier, markdownlint, yamllint

PR feedback
  .github/workflows/deploy-wiki.yml
  .github/workflows/validate-wiki-links.yml
  .llm/context.md
  .llm/skills/wiki-generation.md
  package.json
  scripts/tests/test-wiki-generation.sh
  scripts/tests/test-wiki-generation.sh.meta
Due: prettier, markdownlint, yamllint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
