Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: pwsh -NoProfile -File scripts/format-staged-csharp.ps1
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: csharp-naming
        name: Lint C# method naming (no underscores)
        entry: pwsh -NoProfile -File scripts/lint-csharp-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Enforce PascalCase method names without underscores.
      - id: csharp-no-regions
        name: Lint C# files for #region directives
        entry: pwsh -NoProfile -File scripts/lint-no-regions.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Prevent #region directives from being checked in.
      - id: unity-file-naming
        name: Lint Unity Object file naming
        entry: pwsh -NoProfile -File scripts/lint-unity-file-naming.ps1 -StagedOnly
        language: system
        types:
          - c#
        pass_filenames: false
        require_serial: true
        description: Ensure MonoBehaviour/ScriptableObject classes are in correctly named files.
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.
        require_serial: true
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
        language: system
        files: '(?i)\.(md|markdown)$'
        require_serial: true
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

Fix lychee
  .devcontainer/Dockerfile
  .gitignore
  .lychee.toml
  .pre-commit-config.yaml
  docs/performance/random-performance.md
  scripts/lint-staged-links.ps1
  scripts/lint-staged-links.ps1.meta
Due: prettier, markdownlint, yamllint

Update README
  README.md
Due: prettier, markdownlint

Update README (#100)
  README.md
Due: prettier, markdownlint

Linux rebase
  .github/workflows/update-dotnet-tools.yml
  package.json
Due: prettier, yamllint

3.0.1 release
  .github/workflows/npm-publish.yml
  Editor/WallstopStudios.UnityHelpers.Editor.asmdef.rsp.meta
  Runtime/Integrations/Reflex/WallstopStudios.UnityHelpers.Integration.Reflex.asmdef.rsp.meta
  Runtime/Integrations/VContainer/WallstopStudios.UnityHelpers.Integration.VContainer.asmdef.rsp.meta
  Runtime/Integrations/Zenject/WallstopStudios.UnityHelpers.Integration.Zenject.asmdef.rsp.meta
  Runtime/WallstopStudios.UnityHelpers.asmdef.rsp.meta
  Styles/WallstopStudios.UnityHelpers.Styles.asmdef.rsp.meta
  Tests/Core/WallstopStudios.UnityHelpers.Tests.Core.asmdef.rsp.meta
  Tests/Editor/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Editor.Reflex.asmdef.rsp.meta
  Tests/Editor/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Editor.VContainer.asmdef.rsp.meta
  Tests/Editor/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Editor.Zenject.asmdef.rsp.meta
  Tests/Editor/WallstopStudios.UnityHelpers.Tests.Editor.asmdef.rsp.meta
  Tests/Runtime/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Runtime.Reflex.asmdef.rsp.meta
  Tests/Runtime/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Runtime.VContainer.asmdef.rsp.meta
  Tests/Runtime/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Runtime.Zenject.asmdef.rsp.meta
  Tests/Runtime/Performance/WallstopStudios.UnityHelpers.Tests.Runtime.Performance.asmdef.rsp.meta
  Tests/Runtime/Random/WallstopStudios.UnityHelpers.Tests.Runtime.Random.asmdef.rsp.meta
  Tests/Runtime/WallstopStudios.UnityHelpers.Tests.Runtime.asmdef.rsp.meta
  docs.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, yamllint

Fix OpenUPM (#101)
  .github/workflows/npm-publish.yml
  .github/workflows/update-dotnet-tools.yml
  Editor/WallstopStudios.UnityHelpers.Editor.asmdef.rsp.meta
  Runtime/Integrations/Reflex/WallstopStudios.UnityHelpers.Integration.Reflex.asmdef.rsp.meta
  Runtime/Integrations/VContainer/WallstopStudios.UnityHelpers.Integration.VContainer.asmdef.rsp.meta
  Runtime/Integrations/Zenject/WallstopStudios.UnityHelpers.Integration.Zenject.asmdef.rsp.meta
  Runtime/WallstopStudios.UnityHelpers.asmdef.rsp.meta
  Styles/WallstopStudios.UnityHelpers.Styles.asmdef.rsp.meta
  Tests/Core/WallstopStudios.UnityHelpers.Tests.Core.asmdef.rsp.meta
  Tests/Editor/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Editor.Reflex.asmdef.rsp.meta
  Tests/Editor/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Editor.VContainer.asmdef.rsp.meta
  Tests/Editor/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Editor.Zenject.asmdef.rsp.meta
  Tests/Editor/WallstopStudios.UnityHelpers.Tests.Editor.asmdef.rsp.meta
  Tests/Runtime/Integrations/Reflex/WallstopStudios.UnityHelpers.Tests.Runtime.Reflex.asmdef.rsp.meta
  Tests/Runtime/Integrations/VContainer/WallstopStudios.UnityHelpers.Tests.Runtime.VContainer.asmdef.rsp.meta
  Tests/Runtime/Integrations/Zenject/WallstopStudios.UnityHelpers.Tests.Runtime.Zenject.asmdef.rsp.meta
  Tests/Runtime/Performance/WallstopStudios.UnityHelpers.Tests.Runtime.Performance.asmdef.rsp.meta
  Tests/Runtime/Random/WallstopStudios.UnityHelpers.Tests.Runtime.Random.asmdef.rsp.meta
  Tests/Runtime/WallstopStudios.UnityHelpers.Tests.Runtime.asmdef.rsp.meta
  docs.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, yamllint

Fix linter errors
  CHANGELOG.md
  README.md
Due: prettier, markdownlint

Update README.md
  README.md
Due: prettier, markdownlint

Fix linter errors and update changelog (#102)
  CHANGELOG.md
  README.md
Due: prettier, markdownlint

Update gitignore
  .gitignore
  CHANGELOG.md
  Styles/Elements/Progress.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

Update gitignore for proper 'progress' directory handling
  .gitignore
Due: none

Add npmignore
  .gitignore
  .npmignore
Due: none

Fix NPM Ignore (#103)
  .gitignore
  .npmignore
  CHANGELOG.md
  Styles/Elements/Progress.meta
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

Remove all RSP files
  .gitignore
  .npmignore
  CHANGELOG.md
  Samples~/DI - Reflex/Scripts/Samples.UnityHelpers.DI.Reflex.asmdef.rsp
  Samples~/DI - VContainer/Scripts/Samples.UnityHelpers.DI.VContainer.asmdef.rsp
  Samples~/DI - Zenject/Scripts/Samples.UnityHelpers.DI.Zenject.asmdef.rsp
  Samples~/Logging - Tag Formatter/Scripts/Samples.UnityHelpers.Logging.asmdef.rsp
  Samples~/Random - PRNG/Scripts/Samples.UnityHelpers.Random.Prng.asmdef.rsp
  Samples~/Relational Components - Basic/Scripts/Samples.UnityHelpers.Relational.Basic.asmdef.rsp
  Samples~/Serialization - JSON/Scripts/Samples.UnityHelpers.Serialization.Json.asmdef.rsp
  Samples~/Spatial Structures - 2D and 3D/Scripts/Samples.UnityHelpers.SpatialStructures.asmdef.rsp
  Samples~/UGUI - EnhancedImage/Scripts/Samples.UnityHelpers.UGUI.EnhancedImage.asmdef.rsp
  Samples~/UI Toolkit - MultiFile Selector (Editor)/Scripts/Editor/Samples.UnityHelpers.UIToolkit.Editor.asmdef.rsp
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

Remove all RSP files (#104)
  .gitignore
  .npmignore
  CHANGELOG.md
  Samples~/DI - Reflex/Scripts/Samples.UnityHelpers.DI.Reflex.asmdef.rsp
  Samples~/DI - VContainer/Scripts/Samples.UnityHelpers.DI.VContainer.asmdef.rsp
  Samples~/DI - Zenject/Scripts/Samples.UnityHelpers.DI.Zenject.asmdef.rsp
  Samples~/Logging - Tag Formatter/Scripts/Samples.UnityHelpers.Logging.asmdef.rsp
  Samples~/Random - PRNG/Scripts/Samples.UnityHelpers.Random.Prng.asmdef.rsp
  Samples~/Relational Components - Basic/Scripts/Samples.UnityHelpers.Relational.Basic.asmdef.rsp
  Samples~/Serialization - JSON/Scripts/Samples.UnityHelpers.Serialization.Json.asmdef.rsp
  Samples~/Spatial Structures - 2D and 3D/Scripts/Samples.UnityHelpers.SpatialStructures.asmdef.rsp
  Samples~/UGUI - EnhancedImage/Scripts/Samples.UnityHelpers.UGUI.EnhancedImage.asmdef.rsp
  Samples~/UI Toolkit - MultiFile Selector (Editor)/Scripts/Editor/Samples.UnityHelpers.UIToolkit.Editor.asmdef.rsp
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

Fix WGroupEnd examples
  README.md
  Runtime/Core/Attributes/WGroupEndAttribute.cs
  docs/features/inspector/inspector-grouping-attributes.md
  docs/features/inspector/inspector-inline-editor.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/inspector-settings.md
  docs/features/inspector/inspector-validation-attributes.md
  docs/guides/odin-migration-guide.md
Due: prettier, markdownlint

Bump version
  CHANGELOG.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

WGroupEnd Documentation Fix (#105)
  CHANGELOG.md
  README.md
  Runtime/Core/Attributes/WGroupEndAttribute.cs
  docs/features/inspector/inspector-grouping-attributes.md
  docs/features/inspector/inspector-inline-editor.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/inspector-settings.md
  docs/features/inspector/inspector-validation-attributes.md
  docs/guides/odin-migration-guide.md
  docs/images/unity-helpers-banner.svg
  package.json
Due: prettier, markdownlint

Update llm guidance
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/create-editor-tool.md
  .llm/skills/create-editor-tool.md.meta
  .llm/skills/create-scriptable-object.md
  .llm/skills/create-scriptable-object.md.meta
  .llm/skills/create-test.md
  .llm/skills/refactor-to-zero-alloc.md
  .llm/skills/refactor-to-zero-alloc.md.meta
  .llm/skills/use-data-structures.md
  .llm/skills/use-data-structures.md.meta
  .llm/skills/use-discriminated-union.md
  .llm/skills/use-discriminated-union.md.meta
  .llm/skills/use-extension-methods.md
  .llm/skills/use-extension-methods.md.meta
  .llm/skills/use-relational-attributes.md
  .llm/skills/use-relational-attributes.md.meta
  .llm/skills/use-serializable-types.md
  .llm/skills/use-serializable-types.md.meta
  .llm/skills/use-singleton.md
  .llm/skills/use-singleton.md.meta
  .llm/skills/use-threading.md
  .llm/skills/use-threading.md.meta
  .lychee.toml
  README.md
  llms.txt
Due: prettier, markdownlint, yamllint

Fix CI/CD and update LLM guidance (#108)
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/create-editor-tool.md
  .llm/skills/create-editor-tool.md.meta
  .llm/skills/create-scriptable-object.md
  .llm/skills/create-scriptable-object.md.meta
  .llm/skills/create-test.md
  .llm/skills/refactor-to-zero-alloc.md
  .llm/skills/refactor-to-zero-alloc.md.meta
  .llm/skills/use-data-structures.md
  .llm/skills/use-data-structures.md.meta
  .llm/skills/use-discriminated-union.md
  .llm/skills/use-discriminated-union.md.meta
  .llm/skills/use-extension-methods.md
  .llm/skills/use-extension-methods.md.meta
  .llm/skills/use-relational-attributes.md
  .llm/skills/use-relational-attributes.md.meta
  .llm/skills/use-serializable-types.md
  .llm/skills/use-serializable-types.md.meta
  .llm/skills/use-singleton.md
  .llm/skills/use-singleton.md.meta
  .llm/skills/use-threading.md
  .llm/skills/use-threading.md.meta
  .lychee.toml
  README.md
  llms.txt
Due: prettier, markdownlint, yamllint

Stronger fixes around ManualRecompile, minor updates to docker/devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  Editor/Tools/ManualRecompile.cs
  Tests/Editor/Tools/ManualRecompileTests.cs
  scripts/normalize-eol.ps1
Due: prettier

Fix Manual Recompile silent failure after build (#110)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  Editor/Tools/ManualRecompile.cs
  Tests/Editor/Tools/ManualRecompileTests.cs
  scripts/normalize-eol.ps1
Due: prettier

Serialize git operations in pre-commit hooks
  .llm/context.md
  .llm/skills/git-safe-operations.md
  .llm/skills/git-safe-operations.md.meta
  scripts/git-staging-helpers.ps1
  scripts/lint-csharp-naming.ps1
  scripts/lint-no-regions.ps1
  scripts/sync-banner-version.ps1
Due: prettier, markdownlint

Implement Copilot recommendations
  .llm/skills/git-safe-operations.md
Due: prettier, markdownlint

Serialize git operations in pre-commit hooks (#112)
  .llm/context.md
  .llm/skills/git-safe-operations.md
  .llm/skills/git-safe-operations.md.meta
  scripts/git-staging-helpers.ps1
  scripts/lint-csharp-naming.ps1
  scripts/lint-no-regions.ps1
  scripts/sync-banner-version.ps1
Due: prettier, markdownlint

Fix CI/CD
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .githooks/pre-commit
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy-wiki.yml
  .github/workflows/release-drafter.yml
  .llm/context.md
  .llm/skills/unity-performance-patterns.md
  .llm/skills/update-documentation.md
  .llm/skills/validate-before-commit.md
  docs/project/contributing.md
  package.json
  scripts/verify-devcontainer-tools.sh
  scripts/verify-devcontainer-tools.sh.meta
Due: prettier, markdownlint, yamllint

CI/CD fixes
  .llm/context.md
  .llm/skills/validate-before-commit.md
  cspell.json
Due: prettier, markdownlint

Fix pre-commit hooks
  .gitattributes
  .githooks/pre-push
Due: none

Formatting fix
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint

Normalize line endings
  .githooks/pre-commit
  .githooks/pre-push
  .llm/skills/format-code.md
Due: prettier, markdownlint

Fix pre-push/pre-commit
  .editorconfig
  .githooks/pre-push
  .lychee.toml
Due: none

Fix linter errors
  .llm/context.md
  .llm/skills/create-test.md
  .llm/skills/validate-before-commit.md
  Tests/Editor/CustomDrawers/Odin/IntDropDownOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/StringInListOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/ValidateAssignmentOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WEnumToggleButtonsOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WInLineEditorOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WNotNullOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WReadOnlyOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WShowIfOdinDrawerTests.cs
  Tests/Editor/CustomDrawers/Odin/WValueDropDownOdinDrawerTests.cs
  Tests/Editor/CustomEditors/OdinWButtonInspectorTests.cs
  Tests/Editor/Utils/WButton/WButtonEditorHelperTests.cs
  Tests/Editor/Utils/WButton/WButtonIntegrationTests.cs
  Tests/Editor/Utils/WButton/WButtonRenderingTests.cs
Due: prettier, markdownlint

Fix linters
  .llm/context.md
  .llm/skills/create-test.md
  .llm/skills/format-code.md
  .llm/skills/validate-before-commit.md
Due: prettier, markdownlint

Fix pre-push errors
  .llm/context.md
  .llm/skills/create-test.md
  .llm/skills/validate-before-commit.md
  Tests/Editor/Utils/WButton/WButtonEditorHelperTests.cs
Due: prettier, markdownlint
