Repository wallstop/unity-helpers: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: pwsh -NoProfile -File scripts/format-staged-prettier.ps1
  language: system
  description: Use the repo's Prettier version from package.json.
  require_serial: true

markdownlint:
  name: markdownlint (respect repo config)
  entry: pwsh -NoProfile -File scripts/lint-staged-markdown.ps1
  language: system
  require_serial: true

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

Mostly correct embedded dictionary color
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Utils/WGroup/WGroupGUI.cs
  Tests/Editor/Utils/WGroupColorScopeTests.cs
  Tests/Editor/Utils/WGroupNestedCollectionThemingTests.cs
  Tests/Editor/Utils/WGroupNestedCollectionThemingTests.cs.meta
Due: none

Better serializable dictionary/list drawing in WGroup
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Utils/GroupGUIWidthUtility.cs
  Tests/Editor/Utils/WGroupPropertyContextTests.cs
Due: none

Color theming fixes
  Editor/Utils/GroupGUIWidthUtility.cs
Due: none

Slightly better theming
  Editor/Utils/GroupGUIWidthUtility.cs
  Tests/Editor/Utils/WGroupColorScopeTests.cs
  Tests/Editor/Utils/WGroupPropertyContextTests.cs
Due: none

Custom styling
  Docs/features/inspector/inspector-grouping-attributes.md
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Editor/Utils/GroupGUIWidthUtility.cs
  Editor/Utils/WGroup/WGroupColorDerivation.cs
  Editor/Utils/WGroup/WGroupColorDerivation.cs.meta
  Editor/Utils/WGroup/WGroupGUI.cs
  Tests/Editor/CustomDrawers/SerializableCollectionChildHeightSignalTests.cs
  Tests/Editor/CustomDrawers/SerializableCollectionChildHeightSignalTests.cs.meta
  Tests/Editor/Settings/WGroupCustomColorDrawerTests.cs
  Tests/Editor/Settings/WGroupCustomColorDrawerTests.cs.meta
  Tests/Editor/Utils/GroupGUIWidthUtilityCollectionColorsTests.cs
  Tests/Editor/Utils/GroupGUIWidthUtilityCollectionColorsTests.cs.meta
  Tests/Editor/Utils/WGroupColorDerivationTests.cs
  Tests/Editor/Utils/WGroupColorDerivationTests.cs.meta
  Tests/Editor/Utils/WGroupHeaderTintTests.cs
  Tests/Editor/Utils/WGroupHeaderTintTests.cs.meta
Due: prettier, markdownlint

Slightly better theming
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
Due: none

More fixes
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/CustomDrawers/SolidButtonStyles.cs
  Editor/Utils/WGroup/WGroupGUI.cs
Due: none

Slightly better theming
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Editor/Utils/GroupGUIWidthUtility.cs
  Editor/Utils/WGroup/WGroupGUI.cs
  Tests/Editor/CustomDrawers/SerializableCollectionWGroupThemeOptOutTests.cs
  Tests/Editor/CustomDrawers/SerializableCollectionWGroupThemeOptOutTests.cs.meta
Due: none

Tween fixes
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
Due: none

Minor test fixes
  Tests/Editor/Utils/WGroupHeaderTintTests.cs
  Tests/Editor/Utils/WGroupHeaderTintTests.cs.meta
  Tests/Editor/WGroup/ArrayFieldsTarget.cs
  Tests/Editor/WGroup/IndentRestorationTarget.cs
  Tests/Editor/WGroup/ListFieldsTarget.cs
  Tests/Editor/WGroup/MixedFieldsTarget.cs
  Tests/Editor/WGroup/SerializableClassTarget.cs
  Tests/Editor/WGroup/SiblingGroupsWithDifferentTypesTarget.cs
  Tests/Editor/WGroup/SimpleFieldsTarget.cs
  Tests/Editor/WGroup/TwoLevelNestedTarget.cs
  Tests/Editor/WGroup/WGroupIndentBehaviorTests.cs
Due: none

All tests compiling
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableCollectionIndentAlignmentTests.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryIndentationTests.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetIndentationTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPendingPaddingTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/WGroupSerializableCollectionIntegrationTests.cs
Due: none

Update CSharpier
  .config/dotnet-tools.json
  .github/workflows/csharpier-autofix.yml
Due: prettier, yamllint

Update dictionary visual problems
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
Due: none

More visual fixes
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
Due: none

Test fixes
  Editor/CustomDrawers/SerializableDictionaryPropertyDrawer.cs
  Editor/CustomDrawers/SerializableSetPropertyDrawer.cs
  Tests/Editor/CustomDrawers/SerializableDictionaryPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/SerializableSetPropertyDrawerTests.cs
Due: none

Fix EditorUI so we can click stuff after running tests
  CHANGELOG.md
  Docs/images/editor-tools/texture-settings-applier.png
  Docs/images/editor-tools/texture-settings-applier.png.meta
  Editor/Utils/EditorUi.cs
  package.json
Due: prettier, markdownlint

More screenshots
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/images/editor-tools/animation-copier.png
  Docs/images/editor-tools/animation-copier.png.meta
  Docs/images/editor-tools/fit-texture-size.png
  Docs/images/editor-tools/fit-texture-size.png.meta
  Docs/images/editor-tools/sprite-pivot-adjuster.png
  Docs/images/editor-tools/sprite-pivot-adjuster.png.meta
  Docs/images/editor-tools/sprite-settings-applier.png
  Docs/images/editor-tools/sprite-settings-applier.png.meta
  Docs/images/editor-tools/texture-resizer.png
  Docs/images/editor-tools/texture-resizer.png.meta
Due: prettier, markdownlint

More source folder entry drawer tests
  Editor/CustomEditors/SourceFolderEntryDrawer.cs
  Tests/Editor/CustomDrawers/SourceFolderEntryDrawerTests.cs
  Tests/Editor/CustomDrawers/SourceFolderEntryDrawerTests.cs.meta
Due: none

Update default sort to Grail
  CHANGELOG.md
  Runtime/Core/Extension/IListExtensions.cs
Due: prettier, markdownlint

Fix minor bugs in property drawers
  Editor/CustomDrawers/ValidateAssignmentPropertyDrawer.cs
  Editor/CustomDrawers/WNotNullPropertyDrawer.cs
  Editor/CustomDrawers/WShowIfPropertyDrawer.cs
  Editor/CustomDrawers/WValueDropDownDrawer.cs
  Runtime/Core/Attributes/ValidateAssignmentAttribute.cs
  Runtime/Core/Attributes/WNotNullAttribute.cs
  Tests/Editor/Attributes/WShowIfPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/ValidateAssignmentPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/WNotNullPropertyDrawerTests.cs
  Tests/Editor/CustomDrawers/WValueDropDownDrawerTests.cs
  Tests/Editor/CustomDrawers/WValueDropDownSerializableTypeTests.cs
  Tests/Runtime/Attributes/WNotNullAttributeTests.cs
Due: none

Update third party notices, fix flaky tests
  Docs/overview/roadmap.md
  Docs/project/third-party-notices.md
  Editor/Utils/ScriptableObjectSingletonCreator.cs
  Runtime/Utils/Buffers.cs
  Tests/Editor/Utils/DuplicateSingletonCleanupTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorEditorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonCreatorTests.cs
  Tests/Editor/Utils/ScriptableObjectSingletonTests.cs
Due: prettier, markdownlint

Minor CI/CD fixes
  .github/workflows/format-on-demand.yml
  .github/workflows/update-dotnet-tools.yml
  Runtime/Core/Extension/Partials/GridConcaveHullDiagnostics.cs
  Tests/Editor/Attributes/WGroupLayoutBuilderTests.cs
  Tests/Editor/WButton/WButtonMetadataCacheTests.cs
  Tests/Runtime/DataStructures/SerializableSortedSetTests.cs
Due: prettier, yamllint

Add actionlint
  .github/workflows/actionlint.yml
Due: prettier, yamllint

Update yaml
  .github/workflows/actionlint.yml
  .github/workflows/csharp-no-regions-lint.yml
  .pre-commit-config.yaml
Due: prettier, yamllint

Many documentation fixes
  .github/workflows/csharp-naming-lint.yml
  .github/workflows/csharp-no-regions-lint.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/unity-file-naming-lint.yml
  Docs/features/editor-tools/editor-tools-guide.md
  Docs/features/effects/effects-system-tutorial.md
  Docs/features/inspector/inspector-overview.md
  Docs/features/inspector/inspector-settings.md
  Docs/features/inspector/inspector-validation-attributes.md
  Docs/features/inspector/visual-components.md
  Docs/features/logging/logging-extensions.md
  Docs/features/logging/unity-main-thread-dispatcher.md
  Docs/features/relational-components/relational-components.md
  Docs/features/serialization/serialization-types.md
  Docs/features/spatial/hulls.md
  Docs/images/inspector/unity-helper-settings.png
  Docs/images/inspector/unity-helper-settings.png.meta
  Docs/overview/index.md
  Docs/project/contributing.md
  README.md
Due: prettier, markdownlint, yamllint

More image links
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  Docs/features/inspector/inspector-overview.md
  Docs/images/inspector/buttons/button-overview.png
  Docs/images/inspector/buttons/realtime-invoke.gif
  Docs/images/inspector/inline-editor/expand-collapse.gif
  Docs/images/inspector/inline-editor/expand-collapse.gif.meta
  Docs/images/inspector/inline-editor/simple-example.png
  Docs/images/inspector/inline-editor/simple-example.png.meta
  Docs/images/inspector/wgroup-example.png
  Docs/images/inspector/wgroup-example.png.meta
Due: prettier, markdownlint, yamllint

More documentation updates, minor bug fixes
  .devcontainer/Dockerfile
  Docs/features/inspector/inspector-overview.md
  Docs/images/inspector/buttons/button-overview.png.meta
  Docs/images/inspector/buttons/enum-toggle-button-overview.gif
  Docs/images/inspector/buttons/enum-toggle-button-overview.gif.meta
  Docs/images/inspector/buttons/realtime-invoke.gif.meta
  Docs/images/inspector/serialization-overview.gif
  Docs/images/inspector/serialization-overview.gif.meta
  Editor/CustomDrawers/WGuidPropertyDrawer.cs
  Editor/Settings/UnityHelpersSettings.cs
  Tests/Editor/CustomDrawers/WGuidPropertyDrawerTests.cs
  Tests/Editor/Settings/SettingsSerializedObjectCacheTests.cs
  Tests/Editor/Settings/SettingsSerializedObjectCacheTests.cs.meta
Due: prettier, markdownlint

Finish documentation audit
  Docs/features/inspector/inspector-overview.md
  Docs/guides.meta
  Docs/guides/odin-migration-guide.md
  Docs/guides/odin-migration-guide.md.meta
  Docs/images/inspector/button-color-update-realtime.gif
  Docs/images/inspector/button-color-update-realtime.gif.meta
  Docs/images/inspector/wshowif-examples.gif
  Docs/images/inspector/wshowif-examples.gif.meta
  Docs/overview/getting-started.md
  Docs/overview/index.md
  Editor/Settings/ColorKeyChangeNotifier.cs
  Editor/Settings/ColorKeyChangeNotifier.cs.meta
  Editor/Settings/UnityHelpersSettings.cs
  README.md
  Tests/Editor/CustomDrawers/SourceFolderEntryDrawerTests.cs
  Tests/Editor/Settings/ColorKeyChangeNotifierTests.cs
  Tests/Editor/Settings/ColorKeyChangeNotifierTests.cs.meta
Due: prettier, markdownlint

Remove unnecessary buffers test for system array pool
  Tests/Runtime/Utils/BuffersTests.cs
Due: none

Fix setting serialized object tests
  Tests/Editor/Settings/SettingsSerializedObjectCacheTests.cs
Due: none

Add banner, update installation instructions
  .pre-commit-config.yaml
  README.md
  docs/images/unity-helpers-banner.svg
  docs/images/unity-helpers-banner.svg.meta
  docs/overview/getting-started.md
  scripts/sync-banner-version.ps1
  scripts/sync-banner-version.ps1.meta
Due: prettier, markdownlint, yamllint

Fix SINGLE_THREADED bugs
  .llm/context.md
  README.md
  Runtime/Core/Extension/IListExtensions.cs
  Runtime/Core/Random/BlastCircuitRandom.cs
  Runtime/Core/Random/FlurryBurstRandom.cs
  Runtime/Core/Random/IllusionFlow.cs
  Runtime/Core/Random/LinearCongruentialGenerator.cs
  Runtime/Core/Random/PhotonSpinRandom.cs
  Runtime/Core/Random/RomuDuo.cs
  Runtime/Core/Random/SquirrelRandom.cs
  Runtime/Core/Random/StormDropRandom.cs
  Runtime/Core/Random/WaveSplatRandom.cs
  Tests/Runtime/Utils/BuffersTests.cs
  docs/performance/ilist-sorting-performance.md
  docs/performance/random-performance.md
  docs/performance/reflection-performance.md
  docs/performance/relational-components-performance.md
  docs/performance/spatial-tree-2d-performance.md
  docs/performance/spatial-tree-3d-performance.md
  docs/project/third-party-notices.md
  package.json
Due: prettier, markdownlint

Update WButton priority -> colorKey
  Runtime/Core/Attributes/WButtonAttribute.cs
  Runtime/Utils/Buffers.cs
  Tests/Editor/TestTypes/SampleTarget.cs
  Tests/Runtime/Extensions/UnityExtensionsGridConcaveHullTests.cs
  Tests/Runtime/Utils/BuffersTests.cs
  docs/features/inspector/inspector-button.md
  docs/features/inspector/inspector-overview.md
  docs/features/inspector/inspector-settings.md
Due: prettier, markdownlint

Fix flaky buffer tests
  .markdownlintignore
  Tests/Runtime/Utils/BuffersTests.cs
  docs/images/inspector/buttons/README.md
  docs/images/inspector/buttons/README.md.meta
  docs/images/inspector/inline-editor/README.md
  docs/images/inspector/inline-editor/README.md.meta
  docs/images/inspector/selection/README.md
  docs/images/inspector/selection/README.md.meta
Due: prettier, markdownlint

Updated Samples
  Runtime/Core/DataStructure/SpatialHash2D.cs
  Samples~/DI - VContainer/README.md
  Samples~/Logging - Tag Formatter/README.md
  Samples~/Spatial Structures - 2D and 3D/README.md
  Samples~/UGUI - EnhancedImage/README.md
  Samples~/UI Toolkit - MultiFile Selector (Editor)/README.md
Due: prettier, markdownlint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
